<script type="text/vgn-template" id="adminCategoriesTableTemplate">
    <tr>
        <td style="background-color: [[color]]"></td>
        <td class='text-capitalize'><a href="/cost/admin/categories/[[id]]">[[name]]</a></td>
        <td style="color: red;">[[amount]]</td>
    </tr>
</script>