<script type="text/vgn-template" id="dailyReportsTableRow">
    <tr>
        <td class="category-color" style="background: [[color]]"></td>
        <td class="text-center">
            <div class="description-popover" tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="[[description]]">
                <span class="fa fa-file-text-o text-center"></span>
            </div>
        </td>
        <td>[[date]]</td>
        <td>[[title]]</td>
        <td class="text-capitalize"><a href="/cost/admin/users/[[userId]]/daily-reports">[[firstName]] [[lastName]]</a></td>
        <td>[[body]]</td>
    </tr>
</script>