<script type="text/vgn-template" id="dailyReportTableTemplate">
    <tr>
        <td style="background-color: [[color]];" data-dailyReport-id="[[id]]"></td>
        <td class="text-left">
            [[title]]
        </td>
        <td>[[date]]</td>
    </tr>
</script>

