<script type="text/vgn-template" id="usersTableTemplate">
    <tr data-hover-color="[[highlight]]">
        <td class="category-color" style="background-color: [[color]]">
            <input type="hidden" name="userId" value="[[id]]"/>
        </td>
        <td class="user-expenses-anchor"><a href="/cost/admin/users/[[id]]/expenses"><span class="fa fa-file-text-o"></span></a></td>
        <td class="text-left text-capitalize">[[firstName]]</td>
        <td class="text-left text-capitalize">[[lastName]]</td>
        <td class="text-left">[[email]]</td>
        <td class="text-left">[[cellphone]]</td>
        <td class="text-left">[[homePhone]]</td>
        <td class="text-left user-total-amount" data-user-id="[[id]]"></td>
    </tr>
</script>