.vgn-date-picker {
  margin-top: 20px;
  margin-bottom: 20px;
}
.admin-create-category {
  background: #f6f6f6;
  padding-bottom: 20px;
}
.admin-create-category .has-error input {
  border-color: red;
}
#adminCategoriesBarChartContainer {
  margin-top: 20px;
  margin-bottom: 50px;
}
.admin-category-info-section .profile-header .profile-table th {
  background-color: #3eb39e;
}
.total-amount-summary {
  color: red;
}
.admin-createCategory-ajax-spinner {
  margin-top: 20px;
}
.admin-single-category-info-section .profile-table th {
  background-color: #3eb39e;
}
.admin-single-category-list .vgn-table {
  margin-top: 30px;
}
