.vgn-date-picker {
  margin-top: 20px;
  margin-bottom: 20px;
}
.admin-create-category {
  background: #f6f6f6;
  padding-bottom: 20px;
}
#adminCategoriesBarChartContainer {
  margin-top: 20px;
}
.admin-category-info-section .profile-header .profile-table th {
  background-color: #3eb39e;
}
.total-amount-summary {
  color: red;
}
