/*
 * COST DATE SECTION
 */
.cost-date-section {
  background-color: #3eb39e;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
  padding-left: 20px;
}
.cost-date-section p {
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
}
.cost-date-section .glyphicon {
  font-size: 14px;
}
.add-expense-ajax-spinner,
.edit-expense-ajax-spinner {
  display: none;
  margin-top: 30px;
}
body {
  font-family: "Didact Gothic", "Quicksand", "Abel", mono-space, sans-serif;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.cost-sidebar {
  display: none;
}
@media (min-width: 768px) {
  .cost-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* scrollable contents if viewport is shorter than content. */
    background-color: #2e2e2e;
  }
}
/*
 * Sidebar Logo
 */
.cost-sidebar-logo {
  height: 85px;
  color: white;
  font-weight: 200;
}
.cost-sidebar-logo a,
.cost-sidebar-logo a:hover,
.cost-sidebar-logo a:focus,
.cost-sidebar-logo a:visited {
  text-decoration: none;
  color: white;
}
/*
 * Sidebar Navigation
 */
.nav-sidebar {
  margin-right: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 30px;
}
.nav-sidebar > li > a {
  color: #3eaf90;
  letter-spacing: 1px;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: #7a7a7a;
}
.nav-sidebar > li > ul {
  margin: 10px 20px 0 20px;
}
.nav-sidebar > li > ul li {
  margin-top: 2px;
}
.cost-sidebar-hr {
  border-color: #5a5a5a;
  margin-left: -20px;
  margin-right: -20px;
}
/*
 * Main Top Navigation
 */
.cost-top-nav {
  height: 80px;
  background-color: #9bd5cb;
  padding: 20px;
  margin-left: -15px;
  margin-right: -15px;
  line-height: 40px;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
}
.cost-top-nav .glyphicon {
  font-size: 20px;
}
.cost-top-nav a,
.cost-top-nav a:hover,
.cost-top-nav a:focus,
.cost-top-nav a:visited {
  text-decoration: none;
  color: inherit;
}
.btn-expense {
  background-color: #3eb39e;
}
.btn-expense:hover,
.btn-expense:active,
.btn-expense:focus,
.btn-expense:visited {
  background-color: #37a08d;
  color: white;
  box-shadow: none;
  outline: none;
}
/*
 * Cost Top Notification Bar
 */
.cost-top-notification {
  height: 60px;
  background-color: #ed1f24;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
  padding-left: 20px;
  line-height: 60px;
  font-size: 16px;
}
.cost-top-notification .glyphicon {
  font-size: 20px;
}
/*
 * Main Content
 */
/*
 * Cost Main Charts
 */
.cost-main-charts {
  background-color: #f6f6f6;
}
.cost-main-charts {
  padding-left: 20px;
  padding-right: 20px;
}
.cost-main-last-30-days .pie-chart-canvas {
  margin: 30px auto;
}
.cost-main-last-30-days .pie-chart-canvas canvas {
  display: block;
  margin: 0 auto;
}
.cost-main-this-year .lineChart {
  margin: 40px auto;
  display: block;
}
/**
 * Cost Add Expense Modal
 */
.cost-expense-modal {
  background: rgba(61, 61, 61, 0.2);
}
/**
 * pie chart stats
 */
.pie-chart-container {
  display: none;
}
.pie-chart-stat {
  padding-top: 40px;
}
@media (max-width: 992px) {
  .pie-chart-stat {
    margin: 0 auto;
    width: 60%;
  }
}
.pie-chart-stat-item {
  clear: both;
  height: 40px;
}
.pie-chart-stat-item span {
  margin-right: 20px;
}
/**
 * right sidebar latest activity
 */
.cost-main-latest-activity {
  padding-left: 20px;
  font-family: "Didact Gothic", "Quicksand", "Abel", mono-space, sans-serif;
}
.cost-main-latest-activity h1 {
  font-weight: 400;
  margin-bottom: 20px;
}
.activity-table-container {
  display: none;
}
.activity-table {
  color: #2e2e2e;
}
.activity-table .activity-row td {
  padding: 20px 15px;
  font-size: 15px;
  vertical-align: middle;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  margin-bottom: 1px;
  color: #2e2e2e;
}
.activity-table td:first-child {
  padding: 0;
  width: 8px;
  background-color: darkolivegreen;
}
.activity-table td:last-child {
  color: red;
}
.cost-main-upcoming-reminders {
  padding-left: 20px;
}
/**
  line chart
*/
.line-chart-container {
  display: none;
}
.cost-helper-header {
  font-size: 16px;
  background-image: url("/images/section-header-bg.png");
  background-position: center;
  background-repeat: repeat-x;
  padding-right: 20px;
}
.cost-helper-header span {
  background: #f6f6f6;
  padding-right: 20px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn-cost-search {
  background-color: white;
  color: #9bd5cb;
}
.btn-cost-search:hover {
  color: #37a08d;
  background-color: #9bd5cb;
  border-radius: 0;
}
.textarea-block {
  display: block;
  width: 100%;
}
.square-block {
  width: 20px;
  height: 20px;
}
.secondary-heading {
  color: #3eb39e;
  font-size: 18px;
  letter-spacing: 1px;
}
.cost-form-error-head {
  color: red;
}
.cost-form-error-item {
  color: red;
  font-size: 0.9em;
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.cost-form-required {
  color: red;
}
.table-latest-balance {
  color: #2e2e2e;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}
.cost-table-amount {
  color: red;
}
.pie-ajax-spinner {
  display: none;
  margin-top: 20px;
}
.line-ajax-spinner {
  display: none;
  margin-top: 20px;
}
.activity-ajax-spinner {
  display: none;
  margin-top: 20px;
}
.pie-no-data {
  display: none;
  padding-top: 30px;
  padding-bottom: 200px;
  padding-left: 20px;
  font-size: 16px;
}
.line-no-data {
  display: none;
  padding: 30px 20px 200px 20px;
  font-size: 16px;
}
.activity-no-data {
  display: none;
  padding: 30px 20px 200px 20px;
  font-size: 14px;
}
.vgn-table {
  border: 0;
}
.vgn-table .vgn-table-thead {
  color: #9bd5cb;
  border: 1px solid #eee;
  box-shadow: none;
  padding-bottom: 20px;
}
.vgn-table .vgn-table-thead th {
  border-bottom: none;
  padding: 30px 20px;
}
.vgn-table th:first-child {
  padding: 0;
  border-bottom: none;
}
.vgn-table .vgn-table-tbody {
  border: 0;
  color: #2e2e2e;
}
.vgn-table .vgn-table-tbody tr {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}
.vgn-table .vgn-table-tbody tr td {
  border-top: none;
  padding: 20px 15px;
  vertical-align: middle;
}
.vgn-table .vgn-table-tbody tr td:first-child {
  padding: 0;
  width: 5px !important;
}
.vgn-btn-green {
  color: white;
  background-color: #3eb39e;
}
.vgn-btn-green:hover,
.vgn-btn-green:active,
.vgn-btn-green:visited {
  background-color: #37a08d;
  color: white;
}
.vgn-form-green {
  padding: 20px 10px;
}
.vgn-form-green input,
.vgn-form-green select,
.vgn-form-green textarea {
  border: 2px solid #9bd5cb;
  margin-top: 20px;
}
.vgn-success-msg,
.vgn-error-msg {
  margin-bottom: 10px;
  display: none;
}
.vgn-flash-msg {
  position: absolute;
  top: 50px;
  right: 20px;
}
.vgn-simple-table {
  border-collapse: collapse;
}
.vgn-simple-table td:first-child {
  width: 4px;
  padding: 0;
  vertical-align: middle;
}
.vgn-simple-table tr {
  padding: 20px;
}
.cost-expenses-list {
  padding-top: 20px;
}
.cost-expenses-list h1 span {
  background-color: white;
}
.search-expenses-form {
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #9bd5cb;
}
#expenseSearchInput {
  border: none;
  outline: 0;
  box-shadow: none;
  letter-spacing: 1px;
}
#expenseSearchInput:focus,
#expenseSearchInput:active {
  border: 0;
  outline: 0;
  box-shadow: none;
}
#expensesTable {
  border: 0;
}
#expensesTable td {
  border-top: none !important;
  padding: 15px 10px;
  vertical-align: middle;
}
#expensesTable td .fa-edit {
  font-size: 1.5em;
}
#expensesTable th {
  border-bottom: none !important;
  padding: 30px 20px;
}
#expensesTable th .fa-chevron-down {
  font-size: 0.9em;
  padding-left: 8px;
  vertical-align: top;
}
#expensesTable thead {
  color: #9bd5cb;
  border: 1px solid #eee;
  box-shadow: none;
  padding-bottom: 20px;
}
#expensesTable thead th:first-child {
  padding: 0;
}
#expensesTable tbody {
  border: 0;
  color: #2e2e2e;
}
#expensesTable tbody tr {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}
#expensesTable tbody tr:hover {
  background-color: #f6f6f6;
}
#expensesTable tbody tr:hover span.fa-file-text-o {
  background-color: white;
}
#expensesTable tbody td:first-child {
  background-color: cornflowerblue;
  padding: 0;
  width: 5px;
}
.expense-item-edit {
  color: #9bd5cb;
}
.expense-table-amount {
  color: red;
}
/**
 * total expenses
 */
.cost-total-expenses {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #f6f6f6;
}
.cost-total-expenses h1 {
  font-size: 16px;
  color: #2e2e2e;
  margin-top: 0;
}
#totalExpensesPieChart {
  display: block;
  width: 120px;
  height: 120px;
  margin: 10px auto;
}
#totalExpensesAmount {
  color: red;
  padding-top: 10px;
  font-size: 16px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  margin-left: -20px;
  margin-right: -20px;
}
.total-pie-chart-stats {
  margin-top: 40px;
}
.total-pie-chart-stats p {
  font-size: 12px;
}
#createReportBtn {
  margin: 10px 0;
  background-color: #3eb39e;
  color: white;
  letter-spacing: 1px;
}
#createReportBtn:hover {
  background: #37a08d;
}
#createReportBtn:active,
#createReportBtn:visited,
#createReportBtn:focus {
  outline: 0;
  box-shadow: none;
}
#paginationContainer {
  margin-bottom: 100px;
}
#paginationContainer .pagination a {
  color: #3eb39e;
}
#paginationContainer .pagination .active a {
  background-color: #3eb39e;
  border-color: #3eb39e;
  color: white;
}
.description-popover {
  cursor: pointer;
}
.description-popover:hover,
.description-popover:focus,
.description-popover:active {
  outline: none;
  border: none;
}
.description-popover span {
  padding: 10px;
  border-radius: 30px;
  background-color: #f6f6f6;
  color: darkgray;
  font-size: 1.2em;
}
.cost-form-category {
  padding-top: 15px;
}
.cost-form-category h1 {
  margin-bottom: 20px;
}
#createCategoryForm {
  border: 1px solid #eee;
  padding: 30px 20px 10px 20px;
  border-radius: 2px;
}
#createCategoryForm input {
  border: 2px solid #9bd5cb;
}
#createCategoryBtn {
  display: block;
  width: 100%;
  background-color: #3eb39e;
  color: white;
  margin-top: 30px;
}
#createCategoryBtn span {
  line-height: 20px;
  vertical-align: middle;
}
#latestBalanceTable tr {
  height: 50px;
  line-height: 50px;
}
#latestBalanceTable td {
  vertical-align: middle;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
#latestBalanceTable td:nth-of-type(1) {
  width: 6px;
  min-width: 6px;
  background-color: yellowgreen;
  padding: 0;
}
#latestBalanceTable td:nth-of-type(2) {
  padding-left: 15px;
  width: 68%;
}
/**
 * CATEGORY BUDGET TABLE
 */
#categoryBudgetTable {
  font-family: "Didact Gothic", "Quicksand", "Abel", mono-space, sans-serif;
  margin-top: 20px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  color: #4c4c4c;
}
#categoryBudgetTable td {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}
#categoryBudgetTable td:nth-of-type(1) {
  width: 10px;
  min-width: 10px;
  padding: 0;
}
#categoryBudgetTable td:nth-of-type(2) {
  width: 70%;
  font-size: 16px;
  padding-left: 20px;
}
#categoryBudgetTable td:nth-of-type(3) {
  color: red;
}
#categoryBudgetTable td:nth-of-type(4) {
  color: #9bd5cb;
  font-size: 20px;
  line-height: 20px;
}
.createCategoryAjax {
  background: red;
}
#datePicker {
  margin-top: 20px;
  margin-bottom: 20px;
}
input#start {
  margin-right: -5px;
}
input#end {
  margin-left: -5px;
}
#barChartContainer {
  margin-top: 30px;
  margin-bottom: 100px;
}
#reportsPage .cost-helper-header span {
  background-color: white;
}
.create-report-form {
  background-color: #f6f6f6;
}
.create-report-form input,
.create-report-form select {
  margin-bottom: 0;
  margin-top: 0;
}
.create-report-form .form-group {
  margin-bottom: 10px;
}
.create-report-form #createReportBtn {
  margin-top: 30px;
  margin-bottom: 0;
}
#reportsTable {
  border-left: 1px solid #eee;
}
#reportsTable td:first-child {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  color: #aaa;
}
#reportsTable td:first-child span {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 100px;
  background-color: #f6f6f6;
}
#reportsTable .reports-table-name {
  font-weight: bold;
  padding-bottom: 10px;
}
#reportsTable .reports-table-dates {
  color: #9bd5cb;
}
#reportsTable .reports-type-anchor {
  text-decoration: none;
  text-underline: none;
}
#reportsTable .reports-table-type {
  font-size: 16px;
}
#reportsTable .reports-table-type span {
  color: #9bd5cb;
  padding: 15px 30px;
  cursor: pointer;
}
#reportsTable .reports-table-type span:hover {
  background-color: #3eb39e;
  color: white;
}
#reportsTable .reports-table-delete-button {
  color: red;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.settings-tab {
  margin-top: 20px;
  font-size: 16px;
}
.settings-tab > .settings-tab-list {
  padding: 20px;
  background-color: white;
  color: #3eb39e;
  margin-top: 4px;
  line-height: 16px;
}
.settings-tab > .settings-tab-list span {
  font-size: 16px;
}
.settings-tab > .settings-tab-list:hover {
  background-color: #9bd5cb;
  cursor: pointer;
  color: white;
}
.settings-tab-list.settings-tab-active {
  background-color: #3eb39e;
  color: white;
}
.settings-tab-list.settings-tab-active:hover {
  background-color: #3eb39e;
  color: white;
  cursor: default;
}
.settings-tab-destination {
  display: none;
  margin-top: 20px;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 2px;
}
.settings-form input {
  border: 2px solid #9bd5cb;
}
.settings-form button {
  margin-top: 25px;
}
.settings-form-ajax-spinner {
  background-color: #f6f6f6;
  padding-top: 15px;
  display: none;
}
.settings-form-error-item {
  color: red;
  padding-left: 20px;
  padding-top: 5px;
}
.vgn-form-green.daily-report-form input,
.vgn-form-green.daily-report-form select,
.vgn-form-green.daily-report-form textarea {
  margin-top: 0;
}
.dailyReport-form-ajax-spinner {
  display: none;
}
#dailyReportSuccessMsg,
#dailyReportFailureMsg {
  display: none;
  margin-top: 20px;
}
#dailyReportTable {
  margin-top: 20px;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;
}
#dailyReportTable th {
  color: #3eb39e;
  font-size: 16px;
  text-align: left;
}
#dailyReportTable td:first-child {
  width: 5% !important;
  max-width: 6px !important;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 0;
  border-collapse: collapse;
  font-size: 2px;
}
#dailyReportTable td:nth-child(2) {
  width: 55%;
}
#dailyReportTable td:nth-child(3) {
  width: 40%;
}
#dailyReportTable td {
  padding: 20px 10px;
}
.recent-daily-reports {
  margin-top: 5px;
}
.nav-sidebar.admin-nav:hover .admin-header {
  background: #7a7a7a;
}
.users-table {
  margin-top: 30px;
}
.users-table tbody tr:nth-child(n+1) td {
  letter-spacing: 1px;
}
.users-table tbody tr:nth-child(n+1):hover {
  background-color: #f6f6f6;
}
.users-table tbody tr:nth-child(n+1):hover .user-expenses-anchor a {
  background-color: white;
}
.users-table tbody tr:nth-child(n+1) td:last-child {
  color: red;
}
.profile-header {
  margin-top: 30px;
}
.profile-table tr {
  border: 1px solid #eee;
  letter-spacing: 1px;
}
.profile-table tr th,
.profile-table tr td {
  padding: 20px;
}
.profile-table tr th:first-child {
  background-color: #9bd5cb;
  color: white;
}
.user-expenses-table {
  margin-top: 20px;
}
.user-expenses-anchor {
  padding: 20px;
}
.user-expenses-anchor a,
.user-expenses-anchor a:hover,
.user-expenses-anchor a:visited,
.user-expenses-anchor a:active {
  padding: 10px;
  border-radius: 40px;
  background-color: #f6f6f6;
  color: #555;
}
