.cost-expenses-list {
  padding-top: 20px;
}
.cost-expenses-list h1 span {
  background-color: white;
}
.search-expenses-form {
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #9bd5cb;
}
#expenseSearchInput {
  border: none;
  outline: 0;
  box-shadow: none;
  letter-spacing: 1px;
}
#expenseSearchInput:focus,
#expenseSearchInput:active {
  border: 0;
  outline: 0;
  box-shadow: none;
}
#expensesTable {
  border: 0;
}
#expensesTable td {
  border-top: none !important;
  padding: 15px 10px;
  vertical-align: middle;
}
#expensesTable td .fa-file-text-o {
  font-size: 1.3em;
  color: darkgray;
}
#expensesTable td .fa-edit {
  font-size: 1.5em;
}
#expensesTable th {
  border-bottom: none !important;
  padding: 30px 20px;
}
#expensesTable th .fa-chevron-down {
  font-size: 0.9em;
  padding-left: 8px;
  vertical-align: top;
}
#expensesTable thead {
  color: #9bd5cb;
  border: 1px solid #eee;
  box-shadow: none;
  padding-bottom: 20px;
}
#expensesTable thead th:first-child {
  padding: 0;
}
#expensesTable tbody {
  border: 0;
  color: #2e2e2e;
}
#expensesTable tbody tr {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}
#expensesTable tbody tr:hover {
  background-color: #f6f6f6;
}
#expensesTable tbody tr:hover .complete-expense span {
  background-color: white;
}
#expensesTable tbody td:first-child {
  background-color: cornflowerblue;
  padding: 0;
  width: 5px;
}
.expense-item-edit {
  color: #9bd5cb;
}
.expense-table-amount {
  color: red;
}
/**
 * total expenses
 */
.cost-total-expenses {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #f6f6f6;
}
.cost-total-expenses h1 {
  font-size: 16px;
  color: #2e2e2e;
  margin-top: 0;
}
#totalExpensesPieChart {
  display: block;
  width: 120px;
  height: 120px;
  margin: 10px auto;
}
#totalExpensesAmount {
  color: red;
  padding-top: 10px;
  font-size: 16px;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  margin-left: -20px;
  margin-right: -20px;
}
.total-pie-chart-stats {
  margin-top: 40px;
}
.total-pie-chart-stats p {
  font-size: 12px;
}
#createReportBtn {
  margin: 10px 0;
  background-color: #3eb39e;
  color: white;
  letter-spacing: 1px;
}
#createReportBtn:hover {
  background: #37a08d;
}
#createReportBtn:active,
#createReportBtn:visited,
#createReportBtn:focus {
  outline: 0;
  box-shadow: none;
}
#paginationContainer {
  margin-bottom: 100px;
}
#paginationContainer .pagination a {
  color: #3eb39e;
}
#paginationContainer .pagination .active a {
  background-color: #3eb39e;
  border-color: #3eb39e;
  color: white;
}
.complete-expense span {
  font-size: 10px;
  padding: 15px;
  border-radius: 30px;
  background-color: #f6f6f6;
  margin-left: 0;
}
