@import "cost.variable.less";

.vgn-form-green.daily-report-form {
  input, select, textarea {
    margin-top: 0;
  }
}

.dailyReport-form-ajax-spinner {
  display: none;
}

#dailyReportSuccessMsg,
#dailyReportFailureMsg {
  display: none;
}