#reportsPage .cost-helper-header span {
  background-color: white;
}
.create-report-form {
  background-color: #f6f6f6;
}
.create-report-form input,
.create-report-form select {
  margin-bottom: 0;
  margin-top: 0;
}
.create-report-form .form-group {
  margin-bottom: 10px;
}
.create-report-form #createReportBtn {
  margin-top: 30px;
  margin-bottom: 0;
}
#reportsTable {
  border-left: 1px solid #eee;
}
#reportsTable td:first-child {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  color: #aaa;
}
#reportsTable td:first-child span {
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 100px;
  background-color: #f6f6f6;
}
#reportsTable .reports-table-name {
  font-weight: bold;
  padding-bottom: 10px;
}
#reportsTable .reports-table-dates {
  color: #9bd5cb;
}
#reportsTable .reports-type-anchor {
  text-decoration: none;
  text-underline: none;
}
#reportsTable .reports-table-type {
  font-size: 16px;
}
#reportsTable .reports-table-type span {
  color: #9bd5cb;
  padding: 15px 30px;
  cursor: pointer;
}
#reportsTable .reports-table-type span:hover {
  background-color: #3eb39e;
  color: white;
}
#reportsTable .reports-table-delete-button {
  color: red;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s;
}
