.settings-tab {
  margin-top: 20px;
  font-size: 16px;
}
.settings-tab > .settings-tab-list {
  padding: 20px;
  background-color: white;
  color: #3eb39e;
  margin-top: 4px;
  line-height: 16px;
}
.settings-tab > .settings-tab-list span {
  font-size: 16px;
}
.settings-tab > .settings-tab-list:hover {
  background-color: #9bd5cb;
  cursor: pointer;
  color: white;
}
.settings-tab-list.settings-tab-active {
  background-color: #3eb39e;
  color: white;
}
.settings-tab-list.settings-tab-active:hover {
  background-color: #3eb39e;
  color: white;
  cursor: default;
}
.settings-tab-destination {
  display: none;
  margin-top: 20px;
}
.settings-form input {
  border: 2px solid #9bd5cb;
}
.settings-form button {
  margin-top: 25px;
}
