<div id="domainsSec">
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-6">
            <div class="domainsHead">
                <p class="text-center domainsHeading">Domains</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="domainBody">
                        <i class="fa fa-ship fa-5x"></i>
                        <br/>
                        <p class="domainItem"><a href="#">Deep Water Drilling</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="domainBody">
                        <i class="fa fa-heartbeat fa-5x"></i>
                        <br/>
                        <p class="domainItem"><a href="#">Aging Reservoirs</a></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="domainBody">
                        <i class="fa fa-cogs fa-5x"></i>
                        <br/>
                        <p class="domainItem"><a href="#">Unconventional Reserves</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>


<!--
<div class="customTab">
    <div class="tabBar">
        <div class="row">
            <div class="col-xs-4">
                <div class="tabHead">
                    <a href="#" role="button" class="btn btn-tab tabAnchor" data-tabNumber="1">Deep Water</a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="tabHead">
                    <a href="#" role="button" class="btn btn-tab tabAnchor tabActive" data-tabNum="2">Aging Reservoirs</a>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="tabHead">
                    <a href="#" role="button" class="btn btn-tab tabAnchor" data-tabNum="3">Unconventional</a>
                </div>
            </div>
        </div>
    </div>

    <div class="tabBody">

    </div>
</div>-->