<div class="jumbotron" id="homeFirstRow">
    <div class="container-fluid">

        <div class="col-md-6 col-md-offset-5">
            <div class="brandHeader">
                <div class="top"></div>
                <div class="middle">
                   <div>
                       <h2 class="branding">WHO ARE WE?</h2>

                       <p>We are provider of an expanding
                           range of oilfield services from
                           <b>Well Testing</b> and <b>Coil Tubing</b> to <b>integrated oilfield services.</b></p>

                       <a class="btn btn-jumbo" role="button" href="/about/responsibility">Corporate Responsibility</a>
                       <a class="btn btn-jumbo" role="button" href="/about/ehtics">Ethics & Compliance</a>
                       <br/>


                   </div>
                </div>
                <div class="bottom"></div>
            </div>
            <!-- div.brandHeader -->
        </div>


        <!--<div class="col-sm-4">
            <img src="/images/rig3.png" class="img-responsive" alt=""/>
        </div>-->
    </div>
</div>