<div class="jumbotron" id="homeFirstRow">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset- col-sm-12">

                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <div class="jumboSec">
                            <div class="jumboHeading">
                                <h2 class="text-center">WHO ARE WE?</h2>
                                <p class="jumboDescription text-center">a provider of well services</p>
                            </div>

                            <p class="descHidden">
                                Climax Well Services is a provider of an expanding range of oilfield services from
                                Well Testing and Coil Tubing to integrated oilfield services. Firstly, we are experts on our home markets, and secondly, we are relentless about service quality.

                            </p>

                        </div>

                    </div>
                    <div class="col-md-4 col-md-offset-4 col-xs-6">
                        <div class="jumboSec">
                            <h2 class="text-center"><img style="display: block; margin: 0 auto;" src="/images/stars.png" class="img-responsive" alt=""/></h2>
                            <p class="jumboDescription text-center">5-star products</p>
                        </div>

                    </div>
                </div>
                <!--<div class="brandHeader">
                    <h2 class="branding">WHO ARE WE?</h2>

                    <p><i><strong class="brandName">Climax Well Services</strong></i> is a provider of an expanding range of oilfield services from
                        <b>Well Testing</b> and <b>Coil Tubing</b> to <b>integrated oilfield services.</b></p>

                    <p>Firstly, we are experts on our home markets, and secondly, we are relentless about service
                        quality.</p>

                    <p>We serve our clients with an unrivaled expertise in the technical, geological, logistical, and
                        cultural conditions of our home markets. We also bring our passionate and consistent commitment to
                        service quality in order to get every job done right, efficiently, and safely the first time every
                        time.</p>

                    <p>We implement this rigorousness with a team with international experience, the best equipment, and
                        quality-driven processes to ensure total quality. We consider every project we work on "mission
                        critical," for our clients's success and ours.</p>
                </div>-->
            </div>
        </div>
    </div>
</div>