<div class="jumbotron" id="homeFirstRow">
    <div class="container">

            <div class="col-sm-8">
                <div class="brandHeader">
                <h2 class="branding">Who Are We?</h2>

                <p><i><strong class="brandName">Climax Well Services</strong></i> is a provider of an expanding range of oilfield services from
                    <b>Well Testing</b> and <b>Coil Tubing</b> to <b>integrated oilfield services.</b></p>

                <p>Firstly, we are experts on our home markets, and secondly, we are relentless about service
                    quality.</p>

                <p>We serve our clients with an unrivaled expertise in the technical, geological, logistical, and
                    cultural conditions of our home markets. We also bring our passionate and consistent commitment to
                    service quality in order to get every job done right, efficiently, and safely the first time every
                    time.</p>

                <p>We implement this rigorousness with a team with international experience, the best equipment, and
                    quality-driven processes to ensure total quality. We consider every project we work on "mission
                    critical," for our clients's success and ours.</p>
            </div>
        </div>


        <div class="col-sm-4">
            <img src="/images/rig3.png" class="img-responsive" alt=""/>
        </div>
    </div>
</div>