<div id="productPartial">
    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <div class="aligner"></div>
                <img src="/images/ahrom.png" class="img-responsive" alt=""/>
            </div>
            <div class="col-sm-8">
                <div class="productRow">
                    <h2 class="h2 text-center">Products & Services</h2>

                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-2 text-center productsHeader productCoil">
                            <a href="/products/coil-tubing">coil Tubing & Nitrogen</a>
                        </div>
                        <div class="col-sm-4  text-center productsHeader productWell">
                            <a href="/products/well-stimulation">Well Stimulation</a></div>
                        <div class="col-sm-4 col-sm-offset-2 text-center productsHeader productSurface">
                            <a href="/products/surface-and-downhole-testing">Surface Testing</a>
                        </div>
                        <div class="col-sm-4 text-center productsHeader productSlickline">
                            <a href="/products/slickline">Slickline & Perforation</a></div>
                        <div class="col-sm-6 col-sm-offset-3 text-center productsHeader productOil">
                            <a href="/products/integrated-oil-field-services">Integrated Oil Field Services</a>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>