.about-page {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.about-page p,
.about-page li {
  font-size: 15px;
}
.about-page h3.product-application {
  padding-top: 40px;
}
.about-page .main-content-wrapper {
  background-color: white;
  padding-bottom: 40px;
}
