@import "vars.less";

.about-page {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: @main-font-face;

  p,
  li {
    font-size: 15px;
  }

  h3.product-application {
    padding-top: 40px;
  }

  .main-content-wrapper {
    background-color: white;
    padding-bottom: 40px;
  }
}