.challenge-section {
  margin-bottom: 20px;
}
.challenge-section .panel {
  margin-left: -15px;
  margin-right: -15px;
}
.challenge-section .panel-heading {
  font-size: 20px;
}
.challenge-section .tab-content {
  margin-top: 20px;
}
