@import "vars.less";

body {
  //background: url('/images/geometry2.png');

  .container {
    //background: white;

    .row {
      //background: white;
    }
  }
}

.domain-section {
  margin-top: 100px;
  margin-bottom: 200px;
}

.domain-item {
  height: 150px;
  //border: 1px solid @flat-navy;
  color: @midBlack;
  //fborder-radius: 4px;
  //padding: 20px;

  span.fa {
    font-size: 50px;
    line-height: 50px;
  }

  p {
    margin-top: 12%;
    font-size: 16px;
    font-weight: bold;
  }
}

.domain-top-section {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50%;
}

.nav-arrow {
  padding-top: 42px;
}

.domain-deepwater {
  background-color: lighten(@flat-dark-blue, 15%);
  color: white;

  .domain-top-section {
    color: @flat-white;
    background-color: @flat-dark-blue;
  }

  .fa {
    color: @flat-white;
  }
}

.domain-aging {
  background-color: lighten(@flat-red, 10%);
  color: white;

  .domain-top-section {
    color: @flat-white;
    background-color: @flat-red;
  }

  .fa {
    color: @flat-white;
  }
}

.domain-unconventional {
  background-color: lighten(@flat-navy, 10%);
  color: white;

  .domain-top-section {
    color: @flat-white;
    background-color: @flat-navy;
  }

  .fa {
    color: @flat-white;
  }
}