.btn-login {
  margin-top: 9px;
  border: 1px solid #a93926;
  background-color: #e1563f;
  color: white;
  height: 32px;
  line-height: 20px;
  padding: 5px 20px;
  font-family: "maven pro", sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.btn-login:hover,
.btn-login:active {
  background-color: #f86c55;
  color: white;
}
.dropdown-list {
  background-color: #2c3e58;
  font-size: 13px;
  border: none;
}
.dropdown-list li {
  color: white;
}
.dropdown-list li:hover {
  color: #e1563f;
}
.dropdown-list li a {
  color: white;
}
.dropdown-list li a:hover {
  color: #e1563f;
  background: #2c3e58;
}
