@import "vars.less";

.product-section {
  margin-top: 20px;

  .panel {
    margin-left: -15px;
    margin-right: -15px;
  }

  .panel-heading {
    font-size: 20px;
  }
}


.products-list {
  height: 590px;
}

.product-item {
  padding: 20px;
  color: @flat-white;
  border-radius: 2px;
  overflow: hidden;

  h3 {
    //height: 20%;
    margin-bottom: 20px;
    margin-top: 0;

    span {
      border-bottom: 1px solid @flat-white;
    }
  }
}

.hidden-desc {
  //display: none;
}

.fluid-drilling {
  height: 275px;
  background-color: @flat-light-blue;
  margin-top: 10px;
  margin-left: -15px;

  a.btn {
    border-right: 1px solid @flat-light-blue;
    border-bottom: 1px solid @flat-light-blue;
    background-color: white;
    color: @flat-light-blue;
    position: absolute;
    bottom: 0;
    right: 15px;
    display: none;
  }
}

.coiled-tubing {
  height: 275px;
  background-color: @flat-navy;
  margin-left: -10px;

  h3 {
    margin-top: 100px;
  }

  a.btn {
    border-right: 1px solid @flat-navy;
    border-bottom: 1px solid @flat-navy;
    background-color: white;
    color: @flat-navy;
    position: absolute;
    bottom: 0;
    right: 15px;
    display: none;
  }
}

.well-testing {
  height: 560px;
  margin-bottom: 30px;
  background-color: @flat-red;
  margin-right: -10px;
  position: relative;

  a.btn {
    //border: 1px solid darken(@flat-red, 10%);
    border-right: 1px solid @flat-red;
    border-bottom: 1px solid @flat-red;
    background-color: white;
    color: @flat-red;
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
  }
}

.well-stimulation {
  height: 275px;
  background-color: @flat-dark-blue;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -5px;

  a.btn {
    border-right: 1px solid @flat-dark-blue;
    border-bottom: 1px solid @flat-dark-blue;
    background-color: white;
    color: @flat-dark-blue;
    position: absolute;
    bottom: 0;
    right: 10px;
    display: none;
  }
}

