@darkOrange: rgb(255, 144, 0);
@orange: #e1563f;
@lightOrange: #f86c55;
@darkestOrange: rgb(169, 57, 38);

@lightYellow: rgb(244, 219, 187);

@lightGray: rgb(104, 110, 118);
@midBlack: rgb(68, 68, 68);

@darkWhite: rgb(250, 242, 238);

@btn-login-color: @darkOrange;
@btn-login-color-hover: @lightOrange;

@nav-item-color: @darkWhite;
@nav-background: @orange;
@nav-active-color: @midBlack;