<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Climax Well Services | {{title}}</title>

    {{#if true}}
        {{> fonts}}
    {{/if}}


    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/climax.css"/>
</head>
<body>

    {{{body}}}

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.easing.1.3.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/nav-dropdown.js"></script>
    <script src="/javascripts/tab.js"></script>
</body>
</html>