<div class="col-sm-12 user-expenses-list">
    <h1 class="cost-helper-header text-uppercase"><span style="background: white;">user Expenses</span></h1>

    <div class="row">
        <div class="col-sm-6 col-md-4 profile-header">
            <table class="profile-table">
                <tr>
                    <th>Name</th>
                    <td class="text-capitalize">{{expensesOwner.name.first}} {{expensesOwner.name.last}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6 col-md-4 profile-header">
            <table class="profile-table">
                <tr>
                    <th>Email</th>
                    <td>{{expensesOwner.email}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6 col-md-4 profile-header">
            <table class="profile-table">
                <tr>
                    <th>Total Amount</th>
                    <td class="user-expenses-total-amount"></td>
                </tr>
            </table>
        </div>
    </div>


    <table class="table user-expenses-table vgn-table" id="userExpensesTable">
        <thead class="vgn-table-thead">
            <tr>
                <th></th>
                <th></th>
                <th class="text-uppercase">date  <span class="glyphicon glyphicon-menu-down"></span></th>
                <th class="text-uppercase">Title</th>
                <th class="text-uppercase">category</th>
                <th class="text-uppercase">amount</th>
            </tr>
        </thead>
        <tbody class="vgn-table-tbody" data-expenses-owner-id="{{expensesOwner._id}}"></tbody>
    </table>

    <!-- Ajax animation spinner -->
    <div class="col-xs-12 user-expenses-table-ajax-spinner" style="display: none;">
        <p class="text-center">
            <img src="/images/spinner.gif" alt="loading ..."/><br/>
            <!--loading-->
        </p>
    </div>
</div>

{{> cost/templates/userExpenses-table}}