{{> website/nav}}

<div class="about-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 main-content-wrapper">
                <div class="row">
                    <div class="col-sm-9">
                        <h1><span>Career Opportunities</span></h1>

                        <p>You'll be helping us blaze new trails into new frontiers with groundbreaking product and service ideas. To accomplish this, you'll work closely with the team members in providing responsive and effective services to our clients.</p>
                        <p>What if I don't have experienced in the oilfield? What if I just graduated?</p>
                        <p>We need you, too—even if you don’t know the industry. There are lots of opportunities to learn and grow here. We will give you the training and development opportunities you need to get where you want to go.</p>
                        <br/><p><img src="/images/careers.png" alt="" class="responsive-img"/></p>
                        <br/>

                        <p>Available opportunities include:</p>
                        <p><strong>Field Engineers and Technicians</strong></p>
                        <p>VGN Energy needs filed engineers and technician in virtually every one of its numerous product and service lines. Our people in these positions are provided with good, solid training for the enormous responsibilities that they are given in the field at an early stage in their careers. We fill many of our field engineer and field technician positions from these other disciplines:
                            <ul>
                                <li>Petroleum</li>
                                <li>Mechanical</li>
                                <li>Electrical/Electronics</li>
                                <li>Civil</li>
                                <li>Chemical</li>
                                <li>Mining/Geological</li>
                                <li>petrophysics</li>
                                <li>Geosciences</li>
                            </ul>
                        </p>

                        <p><strong>Experienced Professionals</strong></p>
                        <p>We like to <strong>grow our own people</strong>, but there is always room for those who can bring experience, knowledge, and a different perspective to our business. If you have experience in one or more of our many product lines, or in the oil and gas industry in general, and would like to be part of our team, your skill set could be a good match for our continued growth.</p>

                        <p><strong>Research and Development Engineers and Scientists</strong></p>
                        <p>To continue developing the technically advanced and highly reliable equipment that our filed engineers and their crew run, the top-notch technical personnel in our R&D facilities around the world must constantly come up with new ways of doing things. Can you solve complex problems and help develop our technology? If so, VGN Energy  may be the place for you!</p>

                        <p><strong>Resource Positions</strong></p>
                        <p>We have a multitude of opportunities in the areas of finance, law, human resources, marketing, IT, and other functions that help support and advance this exciting and dynamic business.</p>

                        <p><strong>Support Positions</strong></p>
                        <p>We are looking for skilled, competent people to keep our support facilities up and running to perfection: trade positions (mechanics, welders, machinists, etc.), safety managers, quality managers, technologists, shop assistants, administrative assistants, and others who support our operations back at the base and even in the field when required. Ideal candidates will have a good team attitude and will enjoy supporting something much larger than what they can see at hand. At VGN Energy, you will find many opportunities for growth and advancement.</p>

                        <p>Send your CV to <strong>info@vgnenergy.com</strong></p>

                    </div><!-- /#mainContent -->

                    {{> website/products-page/sidebar}}
                </div><!-- /#productsPage -->
            </div><!-- /.products-wrapper -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->

{{> website/footer}}