{{> website/nav}}

<div class="about-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 main-content-wrapper">
                <div class="row">
                    <div class="col-sm-9">
                        <h1><span>Ethics and Compliance</span></h1>

                        <h3 class="product-application">Integrity in All We Do</h3>
                        <p>We hold ourselves to the highest standards and emphasize the importance of integrity in all we do. We believe that ethical standards are essential to the growth, health and sustainability of our organizations, employees, clients, and shareholders.</p>

                        <h3 class="product-application">We Want to Hear From You</h3>
                        <p>If you have any compliance and ethics concerns regarding accounting controls, auditing matters, the Code of Business Conduct, or other matters, we want to hear from you. All concerns and complaints will be reported and assigned to the appropriate parties for investigation, ultimately being brouhgt to the attention of the Board of Directors.</p>
                        <p>Call: 0912-1269193</p>

                        <p><strong>We are all committed to compliance excellence and believe our integrity is what defined us.</strong></p>

                    </div><!-- /#mainContent -->

                    {{> website/products-page/sidebar}}
                </div><!-- /#productsPage -->
            </div><!-- /.products-wrapper -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->

{{> website/footer}}