{{> website/nav}}

<div class="about-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 main-content-wrapper">
                <div class="row">
                    <div class="col-sm-9">
                        <h1><span>Safety</span></h1>

                        <h3 class="product-application">Commitment to QHHSE Excellence</h3>
                        <p>We begin each day committed to Service Quality, Health, Safety, Security, and Environment (QHSSE) excellence, nothing less. Ensuring everyone returns home safely to their loved ones at the end of the day, that we deliver the highest level of service quality to our clients, and that we leave the environments in which we operate in unharmed or better than when we found them are of paramount importance to our Company. </p>
                        <p>Guiding us on our journey to excellence is our QHSSE programs and our Operational Excellence and Performance System (OEPS).</p>

                        <h3 class="product-application">First Class Safety</h3>
                        <p>The safety of our employees, clients, and stakeholders is of the utmost importance to us. It is the core value of our organization. That is why we continue to evolve, collaborating with our peers and clients to make a difference in the industry and pursue the highest standards of excellence in all of our business practices. </p>
                        <p>We have first-class safety programs. These programs help us make strides in our safety performance and create a measurable impact to our organization and the industry</p>

                        <h3 class="product-application">Differentiating Service Quality</h3>
                        <p><strong>Our people are what drive us.</strong> At VGN Energy, our goal is to become a recognized leader in the oilfield services sector. We intimately understand the importance to deliver consistent quality products and services to our clients. In attaining this, we rely on the talent of our people and fortify their professionalism by providing them with best-in-class tools and processes .
                        </p>
                        <p>We invest, every day, in the learning and development of our employees to increase competency, safety practices, and service quality throughout our organization. Our OEPS and the standards we have in place empower our employees to deliver on their commitments to our Company, their co-workers, and our clients. </p>

                        <h3 class="product-application">Enhancing the Environment</h3>
                        <p>We understand the importance of protecting and enhancing the environments in which we operate and live. Our four tenets program encourages employees to take an active role through better management of our waste, water, land and energy resources ranging from raising awareness to the simple actions we can take each day to make a difference, to more robust technical solutions such as converting our frac fleets to be dual-fuel engines. The four tenets are guiding principles. These environmentally conscious standards enable us to make the right choices and are directly related to the sustainability of our organization. Although we operate in some of the most challenging environemts, we know that we have the ability and the duty to act responsibly.</p>


                    </div><!-- /#mainContent -->

                    {{> website/products-page/sidebar}}
                </div><!-- /#productsPage -->
            </div><!-- /.products-wrapper -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->

{{> website/footer}}