{{!--
    name of the fields that will be posted to the server:
    email
--}}
<div class="container" id="forgotPage">
    <div class="row">
        <div class="row">
            <div class="col-xs-12">
                <hgroup>
                    <h1>Forgot your password?</h1>
                    <h3><small>Enter your email address below and we'll send you password reset instructions</small></h3>
                </hgroup>
            </div>
        </div>
        <div class="row">
            <form method="post">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="email" class="form-control" value="" name="email" placeholder="Email"/>
                    </div>
                </div>
                <div class="col-xs-12">
                    <input type="submit" value="Send me reset instructions" class="btn btn-primary"/>
                </div>
                <div class="col-xs-12">
                    <em><a href="/sim/login">Go back to the log-in screen</a></em>
                </div>
            </form>
        </div>

    </div>
</div>