{{!--
    name of the fields that will be posted to the server:
    email
--}}
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>GVN</b> Energy</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Enter your email to send you the instructions to reset your password</p>
        <form method="post">
            <div class="form-group has-feedback">
                <input name="email" type="text" class="form-control" placeholder="Email"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Send Instructions</button>
                </div><!-- /.col -->
            </div>
        </form>
        <br/>
        <div class="row">
            <div class="col-xs-12">
                <a role="button" href="/sim/login" class="btn btn-default btn-block btn-flat">Back to login</a>
            </div><!-- /.col -->
        </div>
    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->