<div class="challenge-section">
    <div class="container">
        <div class="row">

            <div class="col-xs-4 col-xs-offset-4">
                <h2 class="text-center product-heading"><span>Industry Challenges</span></h2>
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.challenge-section -->