<div class="challenge-section">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Industry Challenges
            </div><!-- /.panel-heading -->
            <div class="panel-body">

                <div class="tab-container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#optimization" aria-controls="optimization" role="tab" data-toggle="tab">Product Optimization</a>
                        </li>
                        <li role="presentation">
                            <a href="#integrity" aria-controls="integrity" role="tab" data-toggle="tab">Well Integrity Services</a>
                        </li>
                        <li role="presentation">
                            <a href="#placement" aria-controls="placement" role="tab" data-toggle="tab">Well Placement</a>
                        </li>
                    </ul><!-- /.nav-tabs -->

                    <!-- Tab panels -->
                    <div class="tab-content">
                        <div id="optimization" class="tab-pane active" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Optimizing production is no longer an option—it’s a necessity. Your wells have to produce longer and better than ever before, but dollars in must yield barrels out. Well economics and decades of field-proven experience drive our production optimization technologies.</p>
                                    <p>We can help you unleash the potential of your assets at the well, field, reservoir, and enterprise levels. Our expertise in artificial lift is enhanced by innovative software and sensing technologies to provide a comprehensive optimization package that is customized for your asset, budget, and production goals. </p>
                                    <a href="/challenges/well-optimization" class="btn btn-login">Read More</a>
                                </div>
                                <div class="col-sm-6 hidden-xs">
                                    <img src="/images/well-stimulation.jpg" alt="" class="img-responsive center-block"/>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /#optimization -->

                        <div id="integrity" class="tab-pane" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>As a global well service provider, is uniquely positioned to provide a comprehensive range of services to <strong>maximize well availability and productivity</strong> whilst <strong>minimizing regulatory and HSE issues</strong>. Rather than simply providing reactive services on request, provide operators with a full range of well integrity services including: </p>
                                    <ul>
                                        <li>Initial well completion design</li>
                                        <li>Well integrity Management Systems (<strong>WIMS</strong>)</li>
                                        <li>Gap Analysis</li>
                                        <li>Engineering studies</li>
                                        <li><strong>MAASP</strong> reviews and calculations</li>
                                        <li>Well examinations</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6 hidden-xs">
                                    <img src="/images/well-stimulation.jpg" alt="" class="img-responsive center-block"/>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /#integrity -->

                        <div id="placement" class="tab-pane" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Optimizing production is no longer an option—it’s a necessity. Your wells have to produce longer and better than ever before, but dollars in must yield barrels out. Well economics and decades of field-proven experience drive our production optimization technologies.</p>
                                    <p>We can help you unleash the potential of your assets at the well, field, reservoir, and enterprise levels. Our expertise in artificial lift is enhanced by innovative software and sensing technologies to provide a comprehensive optimization package that is customized for your asset, budget, and production goals. </p>
                                </div>
                                <div class="col-sm-6 hidden-xs">
                                    <img src="/images/well-stimulation.jpg" alt="" class="img-responsive center-block"/>
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /#placement -->
                    </div><!-- /.tab-content -->
                </div><!-- tab container -->

            </div><!-- /.panel-body -->
        </div>
    </div><!-- /.container -->
</div><!-- /.challenge-section -->