<div class="domain-section">
    <div class="container">

        <div class="row">
            <div class="domain-slider">

                <div class="col-xs-1 slick-prev-btn">
                    <a role="button" class="text-center pull-right">
                        <img src="/images/left-arrow.png" alt=""/>
                    </a>
                </div>

                <div class="col-xs-10">
                    <div class="row slick-container">
                        <div class="col-xs-4">
                            <div class="domain-item domain-deepwater">
                                <a href="/domains/deep-water">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="domain-top-section text-center">
                                                <span class="fa fa-ship"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <p class="text-center">Deep Water Drilling</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                         </div>
                        <div class="col-xs-4">
                            <div class="domain-item domain-aging">
                                <a href="/domains/aging-reservoirs">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="domain-top-section text-center">
                                                <span class="fa fa-heartbeat"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <p class="text-center">
                                                Aging Reservoirs
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="domain-item domain-unconventional">
                                <a href="/domains/unconventional">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="domain-top-section text-center">
                                                <span class="fa fa-cogs"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <p class="text-center">
                                                Unconventional Wells
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="domain-item domain-abandonment">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="domain-top-section text-center">
                                            <span class="fa fa-wrench"></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <p class="text-center">
                                            Well Abandonment
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-1 slick-next-btn">
                    <a role="button" class="text-center">
                        <img src="/images/right-arrow.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

