<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                &copy; 2015 VGN Energy
            </div>
            <div class="col-xs-9">
                <p class="pull-right">
                    <a href="/products">Products</a>&nbsp; | &nbsp;
                    <a href="/site-map">Site Map</a>&nbsp; | &nbsp;
                    <a href="/about/careers">Careers</a>&nbsp; | &nbsp;
                    <a href="/terms">Terms of Use</a>
                </p>
            </div>
        </div>
    </div>
</div>