<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-lg-offset-5 col-xs-10 col-xs-offset-1 col-sm-offset-5 intro-body">
                <h1>
                    <b>VGN</b> Energy
                </h1>
                <p>We are provider of an expanding range of oil field services from <b>Well Testing</b> and <b>Coiled Tubing</b> to <b>Integrated Oilfield Services</b>.</p>
                <a href="/products" class="btn btn-login" role="button">Take a look at our products</a>
                <br/>
                <!--<a href="/contact-us" class="btn btn-login" role="button">Contact Us</a>-->

            </div>
        </div>
    </div>
</div>
