<nav class="navbar navbar-default main-nav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuList">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand gvn-logo" href="#"><b>GVN</b> Energy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse menu-list" id="menuList">
            <ul class="nav navbar-nav">

                <li class="dropdown active-nav-item">
                    <a href="/about" class="dropdown-toggle menu-list-item" aria-expanded="false">About</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="about/safety">Safety</a></li>
                        <li><a href="about/ethics">Ethics and Compliance</a></li>
                        <li><a href="about/careers">Careers</a></li>
                        <li><a href="about/news">News room</a></li>
                        <li><a href="/about/responsibility">Corporate Responsibility</a></li>
                        <li><a href="about/locations">Locations</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/products" class="dropdown-toggle menu-list-item" aria-expanded="false">Products</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="products/coil-tubing">Coil Tubing and Nitrogen</a></li>
                        <li><a href="products/well-stimulation">Well Stimulation</a></li>
                        <li><a href="products/slickline">Slickline</a></li>
                        <li><a href="products/integrated-oil-field-services">Integrated Oil Field Services</a></li>
                        <li><a href="/products/surface-and-downhole-testing">Surface & Downhole Testing</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="/domains" class="dropdown-toggle menu-list-item" aria-expanded="false">Domains</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="domains/deepwater">Deepwater</a></li>
                        <li><a href="domains/aging-reservoirs">Aging Reservoirs</a></li>
                        <li><a href="domains/unconventional">Unconventional</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="/challenges" class="dropdown-toggle menu-list-item" aria-expanded="false">Challenges</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/challenges/well-integrity-management">Well Integrity Management</a></li>
                        <li><a href="/challenges/well-placement">Well Placement</a></li>
                        <li><a href="/challenges/well-abandonment">Well Abandonment</a></li>
                        <li><a href="/challenges/complete-efficiency">Complete Efficiency</a></li>
                        <li><a href="/challenges/production-optimization">Production Optimization</a></li>
                    </ul>
                </li>
            </ul>

            <a class="btn btn-login pull-right hidden-xs" href="/sim/login" role="button">Log In</a>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>