<div class="product-section">
	<div class="container">

		<div class="panel panel-default">
			<div class="panel-heading">
				Products & Services
			</div>

			<div class="panel-body">
                <div class="products-list">
                    <div class="row">
                        <div class="col-sm-3 col-log-3 col-lg-offset-1">
                            <div class="product-item well-testing">
                                <h3><span>Well Testing</span></h3>
                                <div class="hidden-desc">
                                    <p><strong>Well Testing Service</strong> provides safe, customized, and dependable well testing and blowout flow control for the oil and gas industry for both onshore and offshore applications.</p>
                                    <p>With well-designed equipment and innovative technology, we deliver complete well testing solutions and effective operations in all testing environments.</p>
                                    <p class="hidden-sm">We provide our customers a fleet of equipment of rapid mobilization to any job site and is capable of handling hazardous flow streams including <strong>H<sub>2</sub>S</strong>, <strong>CO<sub>2</sub></strong>, <strong>solids</strong>, <strong>high wellhead pressure</strong>, and <strong>temperatures</strong>.</p>
                                    <a href="/products/well-testing" class="btn" role="button">Read More</a>
                                </div>
                            </div><!-- /.well-testing -->
                        </div>
                        <div class="col-sm-9 col-lg-7">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="product-item coiled-tubing">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="hidden-desc">
                                                    <p><strong>Coiled Tubing</strong> services are designed to maximize production. This division provides our customers with a fully integrated suit of coiled tubing services, equipment and talent using a range of grades and sizes to be used in both onshore and offshore drilling</p>
                                                    <p class="hidden-sm">From routine maintenance, remediation, setting tools, obtaining data and specialty applications, supplies a variation of customized solutions and are skilled in combining services with <strong>nitrogen</strong>, <strong>pipeline</strong>, <strong>well testing</strong> and <strong>water treatment</strong>.</p>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <h3 class="text-center"><span>Coiled Tubing</span></h3>
                                            </div>
                                            <a href="/products/coiled-tubing" class="btn" role="button">Read More</a>
                                        </div>
                                    </div>
                                </div><!-- /.coiled-tubing -->
                                <div class="col-xs-12 col-sm-6">
                                    <div class="product-item well-stimulation">
                                        <h3><span>Well Stimulation</span></h3>
                                        <div class="hidden-desc">
                                            <p>The main purpose of <strong>Well Stimulation</strong> is to overcome formation damage that has occurred in the near well bore vicinity thus, enhance well productivity.</p>
                                            <p class="hidden-sm">We help our customers to achieve this goal with bringing customized stimulation techniques, broad range of fluid system and pumping capabilities.</p>
                                        </div>
                                        <a href="/products/well-stimulation" class="btn" role="button">Read More</a>
                                    </div><!-- /.well-stimulation -->
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="product-item fluid-drilling">
                                        <h3><span>Fluid Drilling Solutions</span></h3>
                                        <div class="hidden-desc">
                                            <p><strong>Drilling Fluids</strong> solutions offered by us has a complete range of services to meet the wide array of clients' requirements</p>
                                            <p class="hidden-sm">The drilling fluids we provide cater to meet the most challenging wells such as <strong>horizontal</strong>, <strong>multilateral</strong>, <strong>deep water</strong> and <strong>high temperature high pressure (HTHP)</strong> wells.</p>
                                        </div>
                                        <a href="/products/fluid-drilling-solutions" class="btn" role="button">Read More</a>
                                    </div><!-- /.fluid-drilling -->
                                </div>
                            </div><!-- /.row -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- div.productsList -->
			</div>
		</div>

	</div><!-- div.container -->
</div><!-- div.domainsSec -->