{{!--
    POST cost/expense
    params that will be sent to the server
        * title
        * amount
        * date
        * category
        * description
--}}

<div class="modal cost-expense-modal" id="addExpenseModal" tabindex="-1" role="dialog" arial-labelledby="addExpenseModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content cost-modal-content">
			<div class="modal-header cost-madal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-uppercase" id="addExpenseModalLabel"><span>add an expense</span></h4>
			</div><!-- /.modal-header -->
			<div class="modal-body cost-modal-body">
				<div class="container-fluid">
                    <!-- Error container -->
                    <div class="row form-error-container">
                        <div class="col-xs-8 col-xs-offset-3">
                            <div class="cost-form-error-head"></div>
                        </div>
                    </div><!-- /.form-error-container -->


					<div class="row">
						<form action="/cost/expenses" id="addExpenseForm" class="form-horizontal" method="post" enctype="multipart/form-data">
							
							<div class="col-xs-12">
								<div class="form-group">
                                    <label for="title" class="col-xs-3 control-label">Title <span class="cost-form-required">*</span></label>
									<div class="col-xs-9">
                                        <input class="form-control" type="text" id="title" name="title" placeholder=""/>
                                        <p class="cost-form-error-item"></p>
									</div><!-- /.col-xs-9 -->
								</div><!-- /.col-form-group -->

                                <div class="form-group">
                                    <label for="amount" class="col-xs-3 control-label">Amount <span class="cost-form-required">*</span></label>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="number" id="amount" name="amount" placeholder=""/>
                                        <p class="cost-form-error-item"></p>
                                    </div>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label for="date" class="col-xs-3 control-label">Date<span class="cost-form-required">*</span>  (mm/dd/yyyy)</label>
                                    <div class="col-xs-9">
                                        <input class="form-control" type="date" id="date" name="date" placeholder=""/>
                                        <p class="cost-form-error-item"></p>
                                    </div>
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label for="category" class="col-xs-3 control-label">Category <span class="cost-form-required">*</span></label>
                                    <div class="col-xs-9">
                                        <select name="category" id="category" class="form-control">
										</select>
                                        <p class="cost-form-error-item"></p>
                                    </div>
                                </div><!-- /.form-group -->

								<div class="form-group">
                                    <label for="description" class="col-xs-3 control-label">Description</label>
									<div class="col-xs-9">
                                        <textarea class="textarea-block form-control" name="description" id="description"></textarea>
									</div>
								</div><!-- /.form-group -->
                                <br/>

                                <div class="row">
                                    <div class="col-xs-3 col-xs-offset-4">
                                        <button id="addExpenseCloseButton" class="btn btn-block btn-default" type="button">Close</button>
                                    </div>
                                    <div class="col-xs-5">
                                        <button class="btn btn-block btn-success" type="submit">Save Expense</button>
									</div><!-- /.col-xs-5 -->
                                </div><!-- /.row -->

							</div><!-- /.div.col-xs-8 -->
						</form><!-- /#addExpenseForm -->

                        <!-- Ajax animation spinner -->
                        <div class="col-xs-12 add-expense-ajax-spinner" style="display: ;">
                            <p class="text-center">
                                <img src="/images/spinner.gif" alt="loading ..."/><br/>
                                <!--loading-->
                            </p>
                        </div>

					</div><!-- /.div.row -->
				</div><!-- /.div.container-fluid -->
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->