<div class="modal" id="addExpenseModal" tabindex="-1" role="dialog" arial-labelledby="addExpenseModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title cost-helper-header text-uppercase" id="addExpenseModalLabel"><span>add an expense</span></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <form action="/cost/expense" method="post" enctype="multipart/form-data">
                            <div class="col-xs-3 form-group">
                                <input type="file" class="fom-control" name="receiptImg"/>
                            </div>
                            <div class="col-xs-8 col-xs-offset-1">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="title" placehodler="Title"/>
                                </div>
                                <div class="form-group">
                                    <input type="data" name="date" placeholder="Date"/>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="amount" placeholder="Amount"/>
                                </div>
                                <div class="form-group">
                                    <select name="category" placeholder="Category">
                                        <option value="transportation">Transportation</option>
                                        <option value="business">Business</option>
                                        <option value="accommodation">Accommodation</option>
                                        <option value="travel">Travel</option>
                                    </select>
                                    <button class="btn btn-block" type="submit">Save Expense</button>
                                </div>
                            </div><!-- /.div.col-xs-8 -->
                        </form>
                    </div><!-- /.div.row -->
                </div><!-- /.div.container-fluid -->
            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->