<h1 class="secondary-heading">Create a Category</h1>

<form method="post" action="/cost/api/categories" id="createCategoryForm">
    <div class="row">
        <div class="form-group col-xs-12">
            <input type="text" name="categoryName" id="categoryName" class="form-control" placeholder="Name"/>
        </div>
        <div class="form-group col-xs-12">
            <input type="number" name="categoryAmount" id="categoryAmount" class="form-control" placeholder="Amount"/>
        </div>
        <div class="col-xs-12">
            <button id="createCategoryBtn" type="submit" class="btn">Save Category <span class="pull-right fa fa-plus"></span></button>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="createCategoryAjax"></div>
        </div>
    </div>
</form>