<div class="products-page">
    <div class="container">
        <div class="row">

           <div class="col-lg-10 col-lg-offset-1 products-wrapper">
               <div class="row" id="productsPage">
                   <div class="col-sm-9" id="mainContent">
                       <h1><span>Products</span></h1>

                       <div class="row" id="productsPage-coiledTubing">
                           <div class="col-xs-12">
                               <div class="media">
                                   <div class="media-left">
                                       <img src="/images/productsPage-coiledTubing.jpg" alt="Coiled Tubing" title="Coiled Tubing"/>
                                   </div>
                                   <div class="media-body">
                                       <h4 class="media-heading">Coiled Tubing & Nitrogen</h4>
                                       <p>Coiled Tubing services are designed to maximize production. This division provides our customers with a fully integrated suit of coiled tubing services, equipment and talent using a range of grades and sizes to be used in both onshore and offshore drilling.</p>
                                       <p class="visible-md-block visible-lg-block">From routine maintenance, remediation, setting tools, obtaining data and specialty applications, supplies a variation of customized solutions and are skilled in combining services with nitrogen, pipeline, well testing and water treatment.</p>
                                       <a href="/products/coiled-tubing" role="button" class="btn btn-danger btn-sm">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <hr/>
                       <div class="row" id="productsPage-wellTest">
                           <div class="col-xs-12">
                               <div class="media">
                                   <div class="media-left">
                                       <img src="/images/productsPage-wellTest.jpg" alt="Coiled Tubing" title="Coiled Tubing"/>
                                   </div>
                                   <div class="media-body">
                                       <h4 class="media-heading">Well Testing</h4>
                                       <p>Well Testing Service provides safe, customized, and dependable well testing and blowout flow control for the oil and gas industry for both onshore and offshore applications.</p>
                                       <p class="visible-md-block visible-lg-block">With well-designed equipment and innovative technology, we deliver complete well testing solutions and effective operations in all testing environments.</p>
                                       <a href="/products/well-test" role="button" class="btn btn-danger btn-sm">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <hr/>
                       <div class="row" id="productsPage-wellStimulation">
                           <div class="col-xs-12">
                               <div class="media">
                                   <div class="media-left">
                                       <img src="/images/productsPage-wellStimulation.png" alt="Well Stimulation" title="Coiled Tubing"/>
                                   </div>
                                   <div class="media-body">
                                       <h4 class="media-heading">Well Stimulation</h4>
                                       <p>The main purpose of Well Stimulation is to overcome formation damage that has occurred in the near well bore vicinity thus, enhance well productivity.</p>
                                       <p class="visible-md-block visible-lg-block">We help our customers to achieve this goal with bringing customized stimulation techniques, broad range of fluid system and pumping capabilities.</p>
                                       <a href="/products/well-stimulation" role="button" class="btn btn-danger btn-sm">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <hr/>
                       <div class="row" id="productsPage-drillingFluid">
                           <div class="col-xs-12">
                               <div class="media">
                                   <div class="media-left">
                                       <img src="/images/productsPage-drillingFluid.jpg" alt="Coiled Tubing" title="Coiled Tubing"/>
                                   </div>
                                   <div class="media-body">
                                       <h4 class="media-heading">Drilling Fluid Solutions</h4>
                                       <p>Drilling Fluids solutions offered by us has a complete range of services to meet the wide array of clients' requirements.</p>
                                       <p class="visible-md-block visible-lg-block">The drilling fluids we provide cater to meet the most challenging wells such as horizontal, multilateral, deep water and high temperature high pressure (HTHP) wells.</p>
                                       <a href="/products/drilling-fluid" role="button" class="btn btn-danger btn-sm">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div><!-- /#mainContent -->

                   {{> website/products-page/sidebar}}
               </div>
           </div>
            
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->