<div class="col-sm-3" id="productsPage-sidebar">
    <div class="row">
        <div class="col-xs-12">
            <h4>Products</h4>
            <ul class="list-unstyled">
                <li><img src="/images/arrow_img.png" alt=""/>&nbsp;&nbsp;&nbsp;<a href="/products/coiled-tubing">Coiled
                    Tubing</a></li>
                <li><img src="/images/arrow_img.png" alt=""/>&nbsp;&nbsp;&nbsp;<a href="/products/well-testing">Well
                    Testing</a></li>
                <li><img src="/images/arrow_img.png" alt=""/>&nbsp;&nbsp;&nbsp;<a href="/products/well-stimulation">Well
                    Stimulation</a></li>
                <li><img src="/images/arrow_img.png" alt=""/>&nbsp;&nbsp;&nbsp;<a href="/products/drilling-fluid">Drilling
                    Fluid Solutions</a></li>
            </ul>

            <h4>News</h4>

            <p class="sidebar-p">No post available</p>

            <h4>Our Technology</h4>

            <p><strong>VGN Energy</strong> products are designed and optimized to get you to your pay zone. We perform
                among the best oilfield services in the industry and VGN Energy continues to set the bar for quality and
                reliability through proprietary technologies.</p>
        </div>
    </div>
</div><!-- /#sidebar -->