@import 'cost.variable.less';

body {
  font-family: "Didact Gothic", "Quicksand", "Abel", mono-space, sans-serif;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.cost-sidebar {
  display: none;
}
@media (min-width: 768px) {
  .cost-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* scrollable contents if viewport is shorter than content. */
    background-color:@sidebar-background-color;
  }
}

/*
 * Sidebar Logo
 */
.cost-sidebar-logo {
  height: 85px;
  color: white;
  font-weight: 200;

  a,
  a:hover,
  a:focus,
  a:visited{
    text-decoration: none;
    color: white;
  }
}

/*
 * Sidebar Navigation
 */
.nav-sidebar {
  margin-right: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 30px;
}
.nav-sidebar > li > a {
  color: @sidebar-item-color;
  letter-spacing: 1px;
}
.nav-sidebar > li > a:hover,
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  background-color: @sidebar-background-hover;
}
.cost-sidebar-hr {
  border-color: rgb(90, 90, 90);
  margin-left: -20px;
  margin-right: -20px;
}

/*
 * Main Top Navigation
 */
.cost-top-nav {
  height: 80px;
  background-color: @top-nav-background-color;
  padding: 20px;
  margin-left: -15px;
  margin-right: -15px;
  line-height: 40px;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;

  .glyphicon {
    font-size: 20px;
  }
}
.cost-top-nav a,
.cost-top-nav a:hover,
.cost-top-nav a:focus,
.cost-top-nav a:visited {
  text-decoration: none;
  color: inherit;
}
.cost-top-nav-username {
  //color: darken(@top-nav-button-color-hover, 20%);

}
.btn-expense {
  background-color: @top-nav-button-color;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    background-color: @top-nav-button-color-hover;
    color: white;
    box-shadow: none;
    outline: none;
  }

}

/*
 * Cost Top Notification Bar
 */
.cost-top-notification {
  height: 60px;
  background-color: @top-notification-background;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
  padding-left: 15px;
  line-height: 60px;
  font-size: 16px;

  .glyphicon {
    font-size: 20px;
  }
}

/*
 * Main Content
 */

/*
 * Cost Main Charts
 */
.cost-main-charts {
  background-color: @main-charts-background;
}
.cost-main-charts {
  padding-left: 20px;
  padding-right: 20px;
}
.cost-main-last-30-days {

  .pie-chart-canvas {
    margin: 30px auto;

    canvas {
      display: block;
      margin: 0 auto;
    }
  }
}

.cost-main-this-year {

  .lineChart {
    margin: 80px auto;
    display: block;
    height: 200px;
  }
}

/**
 * Cost Add Expense Modal
 */
.cost-expense-modal {
  background: rgba(61, 61, 61, 0.2);

}


/**
 * pie chart stats
 */
.pie-chart-stat {
  padding-top: 40px;


  @media (max-width: 992px) {
    margin: 0 auto;
    width: 60%;
  }
}
.pie-chart-stat-item {
  clear: both;
  height: 40px;

  span {
    margin-right: 20px;
  }
}

/**
 * right sidebar latest activity
 */
.cost-main-latest-activity {
  padding-left: 20px;
  font-family: "Didact Gothic", "Quicksand", "Abel", mono-space, sans-serif;

  h1 {
    //font-family: "Josefin Sans", "Open Sans Condensed", "Abel", sans-serif;
    font-weight:  400;
    margin-bottom: 20px;
  }
}
.activity-table {
  color: rgb(46, 46, 46);

  .activity-row {
    //margin-bottom: 1px;
  }

  .activity-row td {
    padding: 20px 15px;
    font-size: 15px;
    vertical-align: middle;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
    margin-bottom: 1px;
    color: rgb(46, 46, 46);
    //font-family: "Josefin Sans", "Open Sans Condensed", "Abel", sans-serif;
    //font-weight: 600;
  }

  td:first-child {
    padding: 0;
    width: 8px;
    background-color: darkolivegreen;
  }
  td:last-child {
    color: red;
  }

}