.cost-form-category {
  padding-top: 15px;
}
.cost-form-category h1 {
  margin-bottom: 20px;
}
#createCategoryForm {
  border: 1px solid #eee;
  padding: 30px 20px 10px 20px;
  border-radius: 2px;
}
#createCategoryForm input {
  border: 2px solid #9bd5cb;
}
#createCategoryBtn {
  display: block;
  width: 100%;
  background-color: #3eb39e;
  color: white;
  margin-top: 30px;
}
#createCategoryBtn span {
  line-height: 20px;
  vertical-align: middle;
}
#latestBalanceTable tr {
  height: 50px;
  line-height: 50px;
}
#latestBalanceTable td {
  vertical-align: middle;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
#latestBalanceTable td:nth-of-type(1) {
  width: 6px;
  min-width: 6px;
  background-color: yellowgreen;
  padding: 0;
}
#latestBalanceTable td:nth-of-type(2) {
  padding-left: 15px;
  width: 68%;
}
/**
 * CATEGORY BUDGET TABLE
 */
#categoryBudgetTable {
  font-family: "Didact Gothic", "Quicksand", "Abel", mono-space, sans-serif;
  margin-top: 20px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  color: #4c4c4c;
}
#categoryBudgetTable td {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}
#categoryBudgetTable td:nth-of-type(1) {
  width: 10px;
  min-width: 10px;
  padding: 0;
}
#categoryBudgetTable td:nth-of-type(2) {
  width: 70%;
  font-size: 16px;
  padding-left: 20px;
}
#categoryBudgetTable td:nth-of-type(3) {
  color: red;
}
#categoryBudgetTable td:nth-of-type(4) {
  color: #9bd5cb;
  font-size: 20px;
  line-height: 20px;
}
