@import "cost.variable.less";

.cost-helper-header {
  font-size: 16px;
  background-image: url("/images/section-header-bg.png");
  background-position: center;
  background-repeat: repeat-x;
  //display: inline-block;
  padding-right: 20px;

  span {
    background: @main-charts-background;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.btn-block {
  display: block;
  width: 100%;
}