.cost-helper-header {
  font-size: 16px;
  background-image: url("/images/section-header-bg.png");
  background-position: center;
  background-repeat: repeat-x;
  padding-right: 20px;
}
.cost-helper-header span {
  background: #f6f6f6;
  padding-right: 20px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn-cost-search {
  background-color: white;
  color: #9bd5cb;
}
.btn-cost-search:hover {
  color: #37a08d;
  background-color: #9bd5cb;
  border-radius: 0;
}
.textarea-block {
  display: block;
  width: 100%;
}
.square-block {
  width: 20px;
  height: 20px;
}
.secondary-heading {
  color: #3eb39e;
  font-size: 18px;
  letter-spacing: 1px;
}
.cost-form-error-head {
  color: red;
}
.cost-form-error-item {
  color: red;
  font-size: 0.9em;
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.cost-form-required {
  color: red;
}
