{{> website/nav}}

<div class="products-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 products-wrapper">
                <div class="row" id="productsPage">
                    <div class="col-sm-9" id="mainContent">
                        <h1><span>Coiled Tubing and Nitrogen</span></h1>

                        <p>Coiled Tubing Services are designed to maximize production.</p>
                        <p>Coiled Tubing Division provides our customers with a fully integrated suite of coiled tubing services, equipments and talent using a range of grades and sizes to be used in both onshore and offshore drilling.</p>
                        <p>From routine maintenance, remediation, setting tools, obtaining data and specialty applications, supplies a variation of customized solutions and are skilled in combining services with nitrogen, pipeline, well testing and water treatment.</p>

                        <h3 class="product-application">Applications</h3>
                        <ul>
                            <li>Offshore and onshore units</li>
                            <li>Well cleanouts and circulation</li>
                            <li>Matrix and fracture acidizing</li>
                            <li>Memory logging and perforating</li>
                            <li>Pipeline cleanouts and decommissioning</li>
                            <li>Fluid and nitrogen displacement</li>
                            <li>Nitrogen filtering</li>
                            <li>Fishing, milling and under-remaining operations</li>
                            <li>Cementing</li>
                            <li>Paraffin and scale removal</li>
                        </ul>

                        <h3 class="product-application">Features & Benefits</h3>
                        <ul>
                            <li>Special operations in deepwater, HPHT, subsea and pipeline abandonment</li>
                            <li>Meets special needs like low crane limits and welding coiled tubing on location</li>
                            <li>Incorporates Cerberus modeling software for modeling circulation, tubing forces and job design</li>
                            <li>Records tubing life and on-th-job parameters through our Orion data acquisition</li>
                            <li>Meets applicable industry standards</li>
                        </ul>

                        <p>Our commitment to safety and training ensures our employees with the knowledge, skills and abilities to perform every component of our customers's jobs successfully.</p>


                    </div><!-- /#mainContent -->

                    {{> website/products-page/sidebar}}
                </div><!-- /#productsPage -->
            </div><!-- /.products-wrapper -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->

{{> website/footer}}
