{{> website/nav}}

<div class="products-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 products-wrapper">
                <div class="row" id="productsPage">
                    <div class="col-sm-9" id="mainContent">
                        <h1><span>Drilling Fluid Solutions</span></h1>

                       <p>Drilling Fluid Solutions offered by ys has a complete range of drilling fluid solutions to meet the wide array of clients' requirements.</p>
                        <p>The drilling fluids we provide cater to the most challenging wells such as horizontal, multilaterla, deep water and high temperature-high pressure (HTHP) wells.</p>

                    </div><!-- /#mainContent -->

                    {{> website/products-page/sidebar}}
                </div><!-- /#productsPage -->
            </div><!-- /.products-wrapper -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->

{{> website/footer}}
