{{> website/nav}}

<div class="products-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 products-wrapper">
                <div class="row" id="productsPage">
                    <div class="col-sm-9" id="mainContent">
                        <h1><span>Well Stimulation Service</span></h1>

                        <p>The main purpose of a Well Stimulation service is to overcome formation damage that has occurred in the near well bore vicinity thus, enhance well productivity. We help our customers to achieve this goal with bringing customized stimulation techniques, broad range of fluid systems and pumping capabilities.</p>

                        <h3 class="product-application">Applications</h3>

                        <ul>
                            <li>Carbonate Matrix Treatment 5% to 28% Conventional</li>
                            <li>Hydrochloric Acid (HCI) System treatments</li>
                            <li>Mixed Deposit Removal (MDR) treatments</li>
                            <li>Emulsified Hydrochloric</li>
                            <li>Acid System treatments</li>
                            <li>Diverting Hydrochloric Acid System (DAS) treatments</li>
                            <li>Sandstone Matrix treatments</li>
                            <li>Regular Mud Acid (RMA) treatments</li>
                            <li>Different strength Mud Acid treatments</li>
                            <li>Scale removal</li>
                            <li>Mud filter cake removal from new wells</li>
                            <li>Sand cleanout</li>
                            <li>Dual Injection</li>
                            <li>Divergence stimulation</li>
                            <li>Water Shut-off</li>
                        </ul>

                    </div><!-- /#mainContent -->

                    {{> website/products-page/sidebar}}
                </div><!-- /#productsPage -->
            </div><!-- /.products-wrapper -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->

{{> website/footer}}
