{{> website/nav}}

<div class="products-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 products-wrapper">
                <div class="row" id="productsPage">
                    <div class="col-sm-9" id="mainContent">
                        <h1><span>Well Testing</span></h1>

                        <p>Well Testing Service provides safe, customized and dependable well testing and blowout flow control for the oil and gas industry for both onshore and offshore applications. With well-designed equipment and innovative technology, we deliver complete well testing solutions and effective operations in all testing environments.</p>

                        <p>We provide our customers a fleet of equipments for rapid mobilization to any job site and is capable of handling hazardous flow streams including H<sub>2</sub>S CO<sub>2</sub>, solids, high wellhead pressure, temperatures.</p>
                        <p>Our processes reduce project costs, while minimizing waste and associated disposal liabilities, to produce a cleaner environment. By operating under strict QAQC procedures and documenting maintenance history ou our equipment, we ensure high performance standards and customer satisfaction</p>

                        <h3 class="product-application">Applications</h3>
                        <ul>
                            <li>Onshore and Offshore well testing services</li>
                            <li>High Pressure/High temperature (HPHT) well testing experts</li>
                            <li>On-site data reports</li>
                            <li>Temporary production facilities</li>
                            <li>Well intervention, well cleanup and flowbacks</li>
                            <li>FRAC flow backs and drill outs</li>
                            <li>Surface sampling</li>
                            <li>High Pressure injection system, equipped with NAS fluid filtering capabilities, for chemical injection and pressure testing</li>
                            <li>Maintain produces fluids</li>
                            <li>Blowouts and well control</li>
                            <li>Data acquisition and real-time data reporting</li>
                            <li>Fluid transfer to filtration system, barge or specialized vessel (Offshore)</li>
                            <li>F.A.S.T FieldNotes for reports, calculations, and rates</li>
                            <li>Trailer and skid-mounted equipments for onshore and offshore applications</li>
                            <li>Engineering and Design Services to ensure safe and compliant project execution</li>
                        </ul>

                    </div><!-- /#mainContent -->

                    {{> website/products-page/sidebar}}
                </div><!-- /#productsPage -->
            </div><!-- /.products-wrapper -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->

{{> website/footer}}
