{{> website/nav}}

<div class="about-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 main-content-wrapper">
                <div class="row">
                    <div class="col-sm-9">
                        <h1><span>Aging Reservoirs</span></h1>

                        <h3 class="product-application">Invest in your aging assets intelligently</h3>
                        <p>More barrels lie below your feet. The challenge in legacy fields is knowing when to invest and when to walk away. As reservoir pressure drops and water and sand content increase, you can be forced into a never-ending game of reactive workovers and deferred production. From well surveillance to production optimization, to re-entry, and to plug-and-abandonment, we help you better understand and maximize the economic life of your aging assets.</p>

                        <h3 class="product-application">Help move the shut-in point further down the production curve</h3>
                        <p>Our approach to production revitalization workflows is customizable consistency: We let well economics define the scope and intensity of work. We begin with production optimization using our comprehensive surveillance and analysis systems that help you refine and optimize your artificial-lift infrastructure, including the Field Office® software suite and downhole-sensing tools.</p>
                        <p>We then progress to wellbore optimization using geomechanical and seismic data from technologies such as our Compact™ cross-dipole (CXD) sonic tool. These technologies provide data that updates the reservoir model and characterizes the well for re-entry. Finally, we use the same principles from the well level and apply them reservoir-wide. We use behind-casing analysis and geological and petrophysical data to discover bypassed oil and new opportunities for production.</p>

                    </div><!-- /#mainContent -->

                    {{> website/products-page/sidebar}}
                </div><!-- /#productsPage -->
            </div><!-- /.products-wrapper -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->

{{> website/footer}}