{{> website/nav}}

<div class="about-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 main-content-wrapper">
                <div class="row">
                    <div class="col-sm-9">
                        <h1><span>Deep-Water</span></h1>

                        <h3 class="product-application">We deliver reliability when it counts</h3>
                        <p>Deepwater magnifies typical drilling challenges. The remote locations, the increasingly harsh downhole environments, and $1 million-plus-per-day rig-spread rates make well integrity and reliability the kings of deep water. When thousands of feet of seawater stand between your rig and the mud line, you need a partner who can mitigate risk. We help transform deepwater challenges and reservoir uncertainty into long-term well integrity and bookable reserves.</p>

                        <h3 class="product-application">Up-front analysis and powerful technologies yield measurable results</h3>
                        <p>Our deepwater workflow begins in the design phase with the proven expertise of our Well Engineering and Project Management (WEPM) group, which enhances reservoir understanding and mitigates geologic and geomechanical challenges with deepwater-specific technologies and services. We help ensure that your well safely reaches total depth (TD) with unmatched risk-mitigation technologies, such as the Microflux® control system and managed pressure drilling (MPD).</p>

                    </div><!-- /#mainContent -->

                    {{> website/products-page/sidebar}}
                </div><!-- /#productsPage -->
            </div><!-- /.products-wrapper -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->

{{> website/footer}}