{{> website/nav}}
<div class="products-page">
    <div class="container">
        <div class="row">

           <div class="col-lg-10 col-lg-offset-1 products-wrapper">
               <div class="row" id="productsPage">
                   <div class="col-sm-9" id="mainContent">
                       <h1><span>Domains</span></h1>

                       <div class="row">
                           <div class="col-xs-12">
                               <div class="media">
                                   <div class="media-left">
                                       <div class="domains-box domains-deepwater">
                                           <div class="domains-box-top">
                                               <p class="text-center"><span class="fa fa-ship"></span></p>
                                           </div>
                                           <div class="domains-box-bottom">Deep-Water</div>
                                       </div>
                                   </div>
                                   <div class="media-body">
                                       <p>Deep-Water magnifies typical drilling challenges. The remote locations, the increasingly harsh downhole environments, and costly rig-spread rates make well integrity and drilling reliability of utmost importance in deep water. We help transform deepwater challenges and reservoir uncertainty into long-term well integrity and bookable reserves.</p>
                                       <a href="/domains/deep-water" role="button" class="btn btn-danger btn-sm">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <hr/>

                       <div class="row">
                           <div class="col-xs-12">
                               <div class="media">
                                   <div class="media-left">
                                       <div class="domains-box domains-aging">
                                           <div class="domains-box-top">
                                               <p class="text-center"><span class="fa fa-heartbeat"></span></p>
                                           </div>
                                           <div class="domains-box-bottom">Aging Reservoirs</div>
                                       </div>
                                   </div>
                                   <div class="media-body">
                                       <p>As fields mature around the world, operators are seeking new ways to extend the economic lives of the reservoirs and to maximize recovery. Weatherford offers the technology and expertise to address the integrity and reliability challenges of aging wells. These challenges would otherwise make many operations economically unviable. Our integrated and innovative technology and services confront these challenges and enable clients to optimize and increase production throughout the lifecycle of the well.</p>
                                       <a href="/domains/aging-reservoirs" role="button" class="btn btn-danger btn-sm">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <hr/>

                       <div class="row">
                           <div class="col-xs-12">
                               <div class="media">
                                   <div class="media-left">
                                       <div class="domains-box domains-unconventional">
                                           <div class="domains-box-top">
                                               <p class="text-center"><span class="fa fa-cogs"></span></p>
                                           </div>
                                           <div class="domains-box-bottom">Unconventional</div>
                                       </div>
                                   </div>
                                   <div class="media-body">
                                       <p>Rich in resources and high in economic potential, unconventional fields pose unique challenges that range from uncertain geology to rapid decline rates and tight project economics. A pioneer in this area, Weatherford has expertise and leadership in challenging shale plays. We have continued to strengthen our robust portfolio of services and technologies so clients can more easily access and maximize unconventional resources.</p>
                                       <a href="/domains/unconventional" role="button" class="btn btn-danger btn-sm">Read More</a>
                                   </div>
                               </div>
                           </div>
                       </div>

                   </div><!-- /#mainContent -->

                   {{> website/products-page/sidebar}}
               </div>
           </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->

{{> website/footer}}