{{> website/nav}}

<div class="about-page">
    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-lg-offset-1 main-content-wrapper">
                <div class="row">
                    <div class="col-sm-9">
                        <h1><span>Unconventional</span></h1>

                        <h3 class="product-application">Using applied science to transform challenges into production</h3>
                        <p>As unconventional reserves are ever more difficult to access, economical production becomes an even greater challenge. From lab-based analysis to production optimization, you need a collaborative relationship that reduces reservoir uncertainty, mitigates drilling challenges, and economically produces reserves at an optimal rate. We help transform unconventional resources into producible reserves.</p>

                        <h3 class="product-application">A consistent approach yields measurable results</h3>
                        <p>Every working day in an unconventional field is a day of improvement and optimization decisions. Our approach is customizable consistency. We constantly analyze unconventional well performance to determine the effectiveness of current drilling, completion, and production practices across the life cycle of unconventional resources.</p>
                        <p>Our unconventional workflows begin with an exploration of the asset. We detect and maintain contact with the target zone, which provides real-time and recorded spectral gamma-ray data, azimuthal gamma-ray borehole images, and precise total gamma information. We then move to appraisal in which we update the reservoir model and characterize the well for fracturing by means of high-resolution images from technologies such as our Compact™ cross-dipole (CXD) sonic tool.</p>
                        <p>We then progress to development and production. We design and execute efficient completions using innovative technologies such as microseismic tools and our StimSureSM reservoir stimulation services, which enable an unlimited number of precision fractures in one trip. Finally, we move to production and surveillance in which our comprehensive portfolio of production software, downhole sensors, and artificial-lift technologies continually optimize production for the life of the asset.</p>

                        <h3 class="product-application">Making the most of your data to guide design decisions</h3>
                        <p>Shale geology makes every unconventional well as unique as fingerprint. We help you collect. interpret, and apply formation evaluation data that locates the sweet spot in your unconventional formation.</p>
                        <p>We offer tailored services for every well and every field. Our process begins with a prospectivity analysis to deliver a structural model, which guides critical design decisions by integrating all available geological and geophysical data. Our petrophysical solutions are best-in-class. For one client alone, we’ve cored and analyzed more than 8,300 ft of unconventional rock through high-tech Weatherford Laboratories and our unique Wellsite Geoscience Services. </p>

                    </div><!-- /#mainContent -->

                    {{> website/products-page/sidebar}}
                </div><!-- /#productsPage -->
            </div><!-- /.products-wrapper -->

        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.products-page -->

{{> website/footer}}