{{!--
    name of the fields that will be posted to the server:
    email, password
--}}
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>GVN</b> Energy</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form method="post">
            <div class="form-group has-feedback">
                <input name="username" type="text" class="form-control" placeholder="Username or Email"/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input name="password" type="password" class="form-control" placeholder="Password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div><!-- /.col -->
            </div>
        </form>
        <br/>
        <div class="row">
            <div class="col-xs-6">
                <a role="button" class="btn btn-block btn-default" href="/sim/login/forgot">I forgot my password</a>
            </div>
            <div class="col-xs-6">
                <a role="button" class="btn btn-block btn-default" href="/sim/signup" >Register</a>
            </div>
        </div>

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

{{#if validationErrors}}
    {{#each validationErrors}}
        <p>{{this.msg}}</p>
    {{/each}}
{{/if}}
{{#if postErrors}}
    <p>yes honey: {{this.postErrors.error}}</p>
{{/if}}