{{!--
    name of the fields that will be posted to the server:
    email, password
--}}
<div class="container" id="signupPage">
    <div class="signupContainer">

        <div class="row">
            <div class="col-xs-12">
                <hgroup>
                    <h3 class="h2 text-center"><small>Sign in to access your dashboard</small></h3>
                </hgroup>
            </div>
        </div>

        <form method="post" class="signupForm" novalidate>
            <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="email" class="form-control flatInput" name="email" placeholder="Email" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="password" name="password" class="form-control flatInput" placeholder="********" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="signupButton">
                        <input type="submit" value="SIGN IN">
                    </div>
                </div>
            </div>

            <p class="text-center signinDesc"><a href="/sim/login/forgot">I can't sign in or I forgot my password</a></p>

            <p class="text-center signinDesc">Haven't yet an account? <a href="/sim/signup">Sign up here</a></p>
        </form>
    </div>
</div>
{{#if validationErrors}}
    {{#each validationErrors}}
        <p>{{this.msg}}</p>
    {{/each}}
{{/if}}
{{#if postErrors}}
    <p>yes honey: {{this.postErrors.error}}</p>
{{/if}}