{{> website/nav}}

<div class="challenges-page">
    <div class="container">
        <h1><span>Challenges</span></h1>
        <div class="row">
            <div class="col-xs-6">
                <div class="item-box item-box-optimization">
                    <h3 class="item-box-heading">Production Optimization</h3>
                    <p class="item-box-body">With operators seeking to extract more hydrocarbons from reservoirs than in the past, the need for optimizing production has become more than an option; it is a necessity. To address this need, <strong>VGN Energy has developed a systematic optimization cycle</strong> that provides the tools and knowledge clients need to proactively increase production and reduce costs for wells in all conditions.
                        <a href="/challenges/production-optimization">Read more...</a></p>
                </div><!-- /.item-box -->

            </div><!-- /.col-xs-6 -->
            <div class="col-xs-6">
                <div class="item-box item-box-integrity">
                    <h3 class="item-box-heading">Well Integrity Management</h3>
                    <p class="item-box-body">In today’s complex drilling and producing environments, wells must be designed, constructed, and maintained to <strong>safely contain and control the flow of liquids and gases into or out of the well</strong>. Our well integrity management expertise provides the process for maintaining the integrity of the well throughout its life.
                        <a href="/challenges/well-integrity">Read more...</a></p>
                </div><!-- /.item-box -->
            </div><!-- /.col-xs-6 -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-xs-6 col-xs-offset-0">
                <div class="item-box item-box-placement">
                    <h3 class="item-box-heading">Well Placement</h3>
                    <p class="item-box-body">Defining an optimal completion design and determining well placement are the key objectives of the field development planning phase. The challenges are clear: Operators need to <strong>identify sweet spots for landing laterals</strong>, <strong>manage completion costs</strong>, and <strong>understand variability of production between stages and across multiple wells</strong>, while managing risks without adversely impacting the field operations.
                        <a href="/challenges/well-placement">Read more...</a></p>
                </div><!-- /.item-box -->
            </div><!-- /.col-xs-6 -->
        </div>
    </div><!-- /.container -->
</div><!-- /.challenges-page -->

{{> website/footer}}