{{> website/nav}}

<div class="challenges-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="row item-box item-box-optimization">
                    <h2 class="item-box-heading">Production Optimization</h2>
                    <div class="col-sm-6">
                        <h3 class="optimization-heading">More Barrels, Less Cost</h3>
                        <p><strong>Enhance Your Assets Intelligently</strong></p>
                        <p>Optimizing production is no longer an option—it’s a necessity. Your wells have to produce longer and better than ever before, but dollars in must yield barrels out. Well economics and decades of field-proven experience drive our production optimization technologies. We can help you unleash the potential of your assets at the well, field, reservoir, and enterprise levels. Our expertise in artificial lift is enhanced by innovative software and sensing technologies to provide a comprehensive optimization package that is customized for your asset, budget, and production goals.</p>

                        <h3 class="optimization-heading">Appraise and Select a Solution</h3>
                        <p>Every well is a new challenge that defies a single-solution approach. Yet too often, artificial-lift systems are presented as one-type-fits-all. We offer a comprehensive, industry-leading selection of tools, technology, and experience to ensure your asset is equipped with the optimum form of lift. We also let you test before you invest with our innovative optimization and testing services.</p>
                    </div><!-- /.col-sm-6 -->

                    <div class="col-sm-6">
                        <h3 class="optimization-heading">Install Additional Value</h3>
                        <p>Life-of-well optimization often requires multiple artificial-lift techniques. We’ve developed common-sense solutions that help you reduce overall optimization costs. For example, installing a gas-lift landing nipple in original-well completion packages enables you to transfer a well to gas lift with only a minor workover.</p>
                    </div><!-- /.col-sm-6 -->
                </div><!-- /.row -->
            </div><!-- /.col-sm-9 -->
            <div class="col-sm-3">
                <div class="row">
                    <div class="challenges-sidebar">
                        <div class="row">
                            <div class="col-xs-12">

                            </div><!-- /.col-xs-12 -->
                        </div><!-- /.row -->
                    </div><!-- /.challenges-sidebar -->
                </div><!-- /.row -->
            </div><!-- /.col-sm-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.challenges-page -->

{{> website/footer}}