{{> website/nav}}

<div class="challenges-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="row item-box item-box-placement">
                    <h2 class="item-box-heading">Well Placement</h2>
                    <div class="col-sm-6">
                        <h3 class="product-application">Minimize Uncertainty, Maximize Production Potential</h3>
                        <p><strong>The economic viability of your asset depends on optimal well placement.</strong></p>
                        <p>The days of aiming for the middle of the formation are gone. Whether drilling vertical wells in deep water or long laterals in unconventional plays, optimal well placement can make or break the economics of the field. We help ensure economic success with a field-based approach to any resource.</p>

                        <h3 class="product-application">Rock-Solid Analysis</h3>
                        <p>Optimal well placement begins with gathering and interpreting data in the earliest stages of field appraisal. We deliver comprehensive evaluation services, including core analysis and geochemical analysis of rock, gas, and oil samples through our world-class labs. Our Wellsite Geoscience Services also bring advanced, laboratory-based formation evaluation techniques directly to the wellsite.</p>
                    </div><!-- /.col-sm-6 -->

                    <div class="col-sm-6">
                        <h3 class="product-application">Optimal Placement with Re-entries</h3>
                        <p>You know your asset. But what lies just outside the permeability of the near-wellbore region is both out of sight and out of reach. Meanwhile, the tight economics of field rejuvenation require knowing exactly what recoverables are available before drilling beyond the wellbore.</p>
                        <p>Our reservoir and geomechanical analysis tools help you rediscover your wider asset. We provide high-resolution imaging and rock analyses zones that help you find bypassed or misdrilled zones, determine whether the source rock can be produced, and decide whether more drilling is economically feasible</p>
                    </div><!-- /.col-sm-6 -->
                </div><!-- /.row -->
            </div><!-- /.col-sm-9 -->
            <div class="col-sm-3">
                <div class="row">
                    <div class="challenges-sidebar">
                        <div class="row">
                            <div class="col-xs-12">

                            </div><!-- /.col-xs-12 -->
                        </div><!-- /.row -->
                    </div><!-- /.challenges-sidebar -->
                </div><!-- /.row -->
            </div><!-- /.col-sm-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.challenges-page -->

{{> website/footer}}