{{> website/nav}}

<div class="challenges-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="row item-box item-box-integrity">
                    <h2 class="item-box-heading">Well Integrity Management</h2>
                    <div class="col-sm-6">
                        <h3 class="integrity-heading">Building Well Integrity</h3>
                        <p><strong>Protect your investment with life-of-well technologies and services</strong></p>
                        <p>The safety of your crew, equipment, and the environment depends on well integrity. Though your well is constructed from thousands of components, a single failure or the smallest leak can lead to major safety and production problems. Tubulars are the backbone of well integrity. However total well integrity goes far beyond well construction.</p>

                        <h3 class="integrity-heading">Design with Integrity</h3>
                        <p>Well integrity is a journey. Our workflow, processes, and technologies emphasize a lifetime approach to managing well integrity, from well engineering to final plug and abandonment.</p>
                            <p>We begin in the design phase with proven well-engineering and project-management expertise through our well-engineering and project-management (WEPM) group. By working with our clients in the early stages, we deliver enhanced well integrity, technological integration, well monitoring, service quality, and process safety that minimize risks for rig workers, the formation, and the environment.</p>
                    </div><!-- /.col-sm-6 -->

                    <div class="col-sm-6">
                        <h3 class="integrity-heading">Construct with Integrity</h3>
                        <p>Well construction executes the engineering plan and sets the groundwork for a lifetime of well integrity. Used in conjunction with our comprehensive completion technologies, our tubular running services create a secure, life-of-well mechanical barrier using technologies such as our torque monitoring software.</p>
                    </div><!-- /.col-sm-6 -->
                </div><!-- /.row -->
            </div><!-- /.col-sm-9 -->
            <div class="col-sm-3">
                <div class="row">
                    <div class="challenges-sidebar">
                        <div class="row">
                            <div class="col-xs-12">

                            </div><!-- /.col-xs-12 -->
                        </div><!-- /.row -->
                    </div><!-- /.challenges-sidebar -->
                </div><!-- /.row -->
            </div><!-- /.col-sm-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.challenges-page -->

{{> website/footer}}