<div class="col-sm-7 cost-expenses-list">
    <h1 class="cost-helper-header text-uppercase"><span>Budget</span></h1>

    {{> cost/tables/budget }}
</div>


<div class="col-sm-5 cost-form-category">
    {{> cost/forms/create-category }}
    {{> cost/tables/latest-balance }}
</div>