<div class="col-xs-12">
    <h1 class="text-uppercase cost-helper-header"><span style="background: white;">Daily Report</span></h1>
</div><!-- /.col-xs-12 -->

<div class="col-sm-8">


    <div id="dailyReportSuccessMsg" class="alert alert-success">Oh great! Your report was successfully sent.</div>
    <div id="dailyReportFailureMsg" class="alert alert-warning">Oh no! We could not send you report!</div>

    <form method="post" id="dailyReportForm" class="vgn-form-green daily-report-form">
        <div class="form-group">
            <label for="dailyReportTitle">Title: </label>
            <input type="text" name="dailyReportTitle" id='dailyReportTitle' class="form-control"/>
            <p class="cost-form-error-item"></p>
        </div>
        <div class="form-group">
            <label for="dailyReportBody">Report text: </label>
            <textarea type="text" rows="10" name="dailyReportBody" id="dailyReportBody" class="form-control"></textarea>
            <p class="cost-form-error-item"></p>
        </div>
        <button class="btn vgn-btn-green" type="submit">Send Daily Report</button>
    </form>

    <!-- Ajax animation spinner -->
    <div class="col-xs-12 dailyReport-form-ajax-spinner">
        <p class="text-center">
            <img src="/images/spinner.gif" alt="loading ..."/><br/>
            <!--loading-->
        </p>
    </div><!-- /.settings-form-ajax-spinner -->

</div><!-- /.col-sm-8 -->

<div class="col-sm-4">

</div><!-- /.col-sm-4 -->