<div class="col-sm-8" id="reportsPage">
    <h1 class="cost-helper-header text-uppercase"><span>reports</span></h1>

    {{> cost/forms/create-report }}
</div><!-- /.col-sm-8 -->

<div class="col-sm-4">

</div><!-- /.col-sm-4 -->