{{!-- views/login/index.handlebars --}}
{{!--
    name of the fields that will be posted to the server:
        * email
        * password
--}}
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>VGN</b> Energy</a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        {{#if validationErrors}}
            {{#each validationErrors}}
                <div class="alert vgn-alert-danger">
                    <b class="text-capitalize">{{this.param}}</b>: {{this.msg}}
                </div>
            {{/each}}
        {{/if}}

        {{#if postErrors}}
            <div class="alert vgn-alert-danger">{{postErrors.error}}</div>
        {{/if}}

        <form method="post">
            <div class="form-group has-feedback{{#if validationErrors.email}} has-error{{/if}}">
                <input name="email" type="email" class="form-control" placeholder="Email" value="{{values.email}}" autofocus/>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback{{#if validationErrors.password}} has-error{{/if}}">
                <input name="password" type="password" class="form-control" placeholder="Password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div><!-- /.col -->
            </div>
        </form>
        <br/>
        <div class="row">
            <div class="col-xs-6">
                <a role="button" class="btn btn-block btn-default btn-flat" href="/login/forgot">Forgot password</a>
            </div>
            <div class="col-xs-6">
                <a role="button" class="btn btn-block btn-default btn-flat" href="/signup" >Register</a>
            </div>
        </div>

    </div><!-- /.login-box-body -->
</div><!-- /.login-box -->
