<div class="container" id="signupPage">
    <div class="signupContainer">

        <div class="logo">
            <img src="/images/logo-512.png" alt="Climax Well Services"/>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <hgroup>
                    <h1 class="h1 text-center">Climax Well Services</h1>
                    <h3 class="h2 text-center"><small>Sign in to access your dashboard</small></h3>
                </hgroup>
            </div>
        </div>

        <form method="post" class="signupForm">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="email" class="form-control flatInput" name="email" placeholder="Email" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="password" name="password" class="form-control flatInput" placeholder="********" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="signupButton">
                        <input type="submit" value="SIGN IN">
                    </div>
                </div>
            </div>

            <p class="text-center signinDesc"><a href="/sim/forgot-password">I can't sign in or I forgot my username/password</a></p>

            <p class="text-center signinDesc">Haven't yet an account? <a href="/sim/signup">Sign up here</a></p>
        </form>
    </div>
</div>
{{#if message}}
    <p><strong>{{message}}</strong></p>
{{/if}}