<div class="container" id="signupPage">
    <div class="signupContainer">

        <div class="logo">
            <img src="/images/logo-512.png" alt="Climax Well Services"/>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <hgroup>
                    <h1 class="h1 text-center">Sign up now</h1>
                    <h3 class="h2 text-center"><small>You'll be up and running in less than a minute</small></h3>
                </hgroup>
            </div>
        </div>

        <form method="post" class="signupForm">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control flatInput" name="firstName" placeholder="First name" required/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control flatInput" name="lastName" placeholder="Last name" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="email" class="form-control flatInput" name="email" placeholder="Email" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="password" name="password" class="form-control flatInput" placeholder="Password" required/>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="termsAccept" /> I agree to the <a href="/legel/terms">Terms of Service</a>
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="signupButton">
                        <input type="submit" value="SIGN UP">
                    </div>
                </div>
            </div>

            <p class="text-center signinDesc">Already have an account? <a href="/sim/signin">Sign in here</a></p>
        </form>
    </div>
</div>